
body {
    font-family: Montserrat, sans-serif;
    background: url("./svg/quiz_gradient.svg") center center / cover no-repeat;
    background-color: #170107;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.quiz-card {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.question {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #FFFFFF26;
}

.question:last-child {
    border-bottom: none;
}

.question-image {
    flex: 0 0 200px;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.emoji-container {
    flex: 0 0 200px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-content {
    flex: 1;
}

.question-options {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #f0ff9e !important;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
    background-image: radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.25s ease, filter 0.3s ease;
    z-index: 99;
    height: 45px;
    min-height: 45px;
    width: 100%;
    max-width: 200px;
    color: #000000;
}

button:hover {
    filter: brightness(1.15);
}

.emoji {
    font-size: 70px;
    display: block;
    text-align: center;
}

.pixelated-movie {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin: 0;
}

.results {
    color: white;
    margin-top: 20px;
    font-size: 20px; 
    text-align: center;
    padding: 14px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto 50px;
}

.radio-wrapper-13 {
    margin-bottom: 10px;
}

.radio-wrapper-13 .rdo {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.15s ease;
    margin-right: 10px;
    vertical-align: middle;
}

.radio-wrapper-13 .rdo:after {
    content: "";
    position: absolute;
    display: block;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transform: scale(0);
}

.radio-wrapper-13 label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    color: #FFFFFF80;
}

.radio-wrapper-13 input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio-wrapper-13 input[type="radio"]:checked + .rdo {
    background-image: linear-gradient(#9ca1ed, #5962e1);
}

.radio-wrapper-13 input[type="radio"]:checked + .rdo:after {
    opacity: 1;
    transform: scale(1);
    transition: all 0.15s ease;
}

/* For mobile responsiveness */
@media (max-width: 600px) {
    .question {
        flex-direction: column;
    }
    
    .question-image, .emoji-container {
        flex: 0 0 auto;
        width: auto;
        margin-bottom: 15px;
        margin-right: 0;
        justify-content: flex-start;
    }
    
    .pixelated-movie {
        max-width: 150px;
        height: auto;
    }
    
    .emoji {
        font-size: 50px;
        text-align: left;
    }
}