@import "resets.css";

body
{
  font-family: 'System-ui', sans-serif;
}
*:focus
{
  outline: none;
  border: none;
}
.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  width: calc(100% - 20px);
  gap: 20px;
  max-height: 500px;
  aspect-ratio: 1;
  height: 100%;
}
.left {
  position: relative;
  flex-basis: 50%;
  background: url("https://ik.imagekit.io/carl/limelight/form_background.png?updatedAt=1741794219724") center center / cover no-repeat;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  opacity: 0;
  filter: grayscale(100%);
  height: 100%;
}

*:focus, *:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.password {
  cursor: pointer;
  z-index: 999;
  transition: filter 0.5s ease;
}
#testing-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 20px;
}
.video-form
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  object-fit: cover;
}
.marquee:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.twinkle {
  width: 40px;
  animation: twinkle 10s infinite ease-in-out;
}
@keyframes twinkle
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}


input:hover,
textarea:hover,
input[type="submit"]:hover {
  filter: brightness(1.15);
  transition: filter 0.2s ease;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-container-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  align-items: center;
  height: clamp(3.125rem, 2.8571rem + 1.4286vw, 3.75rem);
  border-radius: 19px;
}
.radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at 100% 100%, #14142B 0%, #14142B 2%, #14142A 4%, #141329 6%, #131329 8%, #131328 9%, #131227 11%, #131225 13%, #121124 14%, #121123 16%, #121022 18%, #111020 20%, #110F1F 22%, #100F1E 24%, #0F0E1D 27%, #0F0D1B 30%, #0E0D1A 33%, #0D0C19 36%, #0D0C18 40%, #0C0B17 44%, #0B0B17 48%, #0B0A16 53%, #0A0A15 59%, #0A0A15 64%, #0A0A15 71%);
}
.radial-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgAB/axk9QAAAABJRU5ErkJggg==");
  background-size: cover, 4px 4px;
  background-repeat: no-repeat, repeat;
  z-index: 9;
  opacity: 0.2;
  mix-blend-mode: multiply;
}
.h1text {
  text-transform: uppercase;
  font-size: clamp(0.9375rem, 0.8036rem + 0.7143vw, 1.25rem);
  font-family: "Subjectivity", sans-serif;
  letter-spacing: 0.05rem;
  color: var(--black);
  white-space: nowrap;
  z-index: 0;
}

*:focus {
  outline: none;
}

iframe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.scrolling-text-container:hover .scrolling-text-inner > div {
  animation-play-state: paused;
}

input[type="submit"]:hover {
  filter: brightness(1.15);
}
@media (min-height: 1000px) {
  .left {
    display: inline;
  }
}
@media (max-width: 1000px) {
  .left {
    display: none;
  }
  .form, .form-2 {
    padding: 0 15px;
    max-width: 450px;
  }

  .contact-container {
    flex-direction: column !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important; /* Changed to transparent */
}
/* ----------- contact ----------- */

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  z-index: 10;
}
.form-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  font-size: clamp(0.9375rem, 0.4459rem + 2.2866vw, 1.875rem);
  font-family: "Montserrat", sans-serif;
  z-index: 10;
}

h1,
p {
  margin: 0;
}

.p {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 20px;
}

.h1 {
  letter-spacing: 0.05rem;
  white-space: nowrap;
  font-size: clamp(1.875rem, 1.7111rem + 0.7622vw, 2.1875rem);
  color: white;
  padding-right: 10px;
  font-family: "Subjectivity", sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.video-h1 {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 100px;
  color: black;
}
.input-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("blob2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
  opacity: 0.2;
  z-index: -1;
}
.btn {
  background-color: red !important;
}
svg {
  z-index: 99999;
}
.input-wrapper .icon.password:hover {
  filter: brightness(1.3);
  transition: filter 0.5s ease;
}
/* Fade in */
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.a_red::after {
  background-color: transparent !important;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}


.input-wrapper input:user-valid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-check.svg");
  background-size: contain;
}

/* when you exit focus within the input-wrxapper the @ sign disapears */
.input-wrapper input:focus-within:user-valid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-check.svg");
  background-size: contain;
}

.input-wrapper input:not(:placeholder-shown):user-invalid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-x.svg");
  background-size: contain;
}
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
}
.input-wrapper input:focus-within:invalid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-x.svg");
  background-size: contain;
}

.input-wrapper span {
  opacity: 1;
  position: absolute;
  top: 8px;
  right: 8px;
}

.input-wrapper span {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper:focus-within {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 0px;
  z-index: 10;
}
textarea
{
  resize: none;
  height: 300px;
  outline: none;
  border: none;
}
textarea::placeholder
{
  color: #7c82b0cc;
  font-size: 13px;
}
.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  color: #7c82b0cc;
  font-size: 13px;
  transition: 0.2s ease-out;
  pointer-events: none;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 8px;
  transform: translateY(0);
  font-size: 12px;
  color: #7c82b1;
}

.input {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: transparent; /* Changed to transparent */
  padding: 20px 0 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.button-submit {
  position: relative;
  margin: 10px 0;
  background-color: #F0FF9EFF;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  font-family: inherit;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  background-image: radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease-out;
  z-index: 99;
  height: 45px;
  min-height: 45px;
  width: 100%;
}

.button-submit img {
  transition: transform 0.3s ease;
  pointer-events: none;
}

.button-submit:hover {
  transform: scale(1.015);
}

.button-submit:hover img {
  transform: translateX(2px);
}

.button-submit:hover {
  filter: brightness(1.15);
  transition: all 0.2s ease;
}

.flex-row {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.span {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin: 5px 0px;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.2s ease;
} 
.already-have-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  gap: 10px;
}

.p-already {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 20px;
}
.p-already-2 {
  font-size: 14px;
  color: var(--text-color);
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.content-wrapper {
  padding-inline: 8px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  animation: scroll 15s linear infinite;
}
.p-marquee:hover {
  color:#fff !important;
  transition: color 0.5s ease;
}
.marquee-container:hover .content-wrapper {
  animation-play-state: paused !important;
}
.p-marquee {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 50px;
  transition: color 0.5s ease;
  font-family: "Subjectivity", sans-serif;
  color: #94958C !important;
}
.content-wrapper p {
  font-weight: 800;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.hidden {
  display: none !important;
}

.shown {
  display: block !important;
}
.birthday-profile { 
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-wrapper-file:hover {
  filter: brightness(0.95);
  transition: filter 0.2s ease;
}
.input-wrapper-file .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-wrapper-file .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-wrapper-file .text span {
  font-weight: 500;
  color: rgba(124, 130, 176, 0.8);
  font-size: 12px;
  cursor: pointer;
}
.input-wrapper-file input {
  display: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin: 5px 0px;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.2s ease;
}
.already-have {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.already-have-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  gap: 10px;
}

.p-already-2 {
  font-size: 14px;
  color: var(--text-color);
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.content-wrapper {
  padding-inline: 8px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  animation: scroll 15s linear infinite;
}
.p-marquee:hover {
  color:#fff !important;
  transition: color 0.5s ease;
}
.marquee-container:hover .content-wrapper {
  animation-play-state: paused !important;
}
.p-marquee {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 50px;
  transition: color 0.5s ease;
  font-family: "Subjectivity", sans-serif;
  color: #94958C !important;
}
.content-wrapper p {
  font-weight: 800;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.hidden {
  display: none !important;
}

.shown {
  display: block !important;
}
.birthday-profile
{ 
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.input-wrapper 
{
  position: relative;
  padding: 8px 12px;
  background-color: #7c82b11f;
  border-radius: 13px;
  display: flex;
  align-items: flex-end;
  border: 1px solid #313347;
  transition: background-color 0.15s ease-out;
  margin-bottom: 10px;
  cursor: text;
}
.input-wrapper-file
{
  position: relative;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #313347;
  transition: background-color 0.15s ease-out;
  margin-bottom: 10px;
  cursor: text;
}
#h1-venues
{
  position: relative;
  text-align: center;
  font-size: 10px;
  font-weight: 800;
  background-color: red;
  white-space: nowrap;
  padding-bottom: 8px;
}

#account-h1
{
  position: relative;
  text-align: center;
  font-size: clamp(2.1875rem, 1.8598rem + 1.5244vw, 2.8125rem);
  font-weight: 800;
  margin-bottom: 10px;
  background: #EFEFEF;
  background: repeating-radial-gradient(ellipse farthest-corner at top center, #fff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
#account-p
{
  position: relative;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.75);
}
.input-wrapper-file:hover
{
  filter: brightness(0.95);
  transition: filter 0.2s ease;
}
.input-wrapper-file .icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input-wrapper-file .text
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-wrapper-file .text span
{
  font-weight: 500;
  color: #7c82b0cc;
  font-size: 12px;
  cursor: pointer;
}
.input-wrapper-file input
{
  display: none;
}
.bottom
{
  position: absolute;
  bottom: 0;
  height: clamp(5rem, 2.0833rem + 6.6667vw, 6.25rem);
  background-color: black;
  width: 100%;
  z-index: 99999999999999999 !important;
  overflow: hidden;
}
.bottom h1
{
  color: white;
  line-height: 9vh;
  font-size: 100px;
}

.marquee-container
{
  background: transparent;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: clamp(5rem, 2.0833rem + 6.6667vw, 6.25rem);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  cursor: default;
  z-index: 99999999999 !important;
}
@media (max-width: 700px)
{
  .marquee-container
  {
    display: none;
  }
}

.content-wrapper-scrolling {
  padding-inline: 8px;
  min-width: fit-content;
  display: flex;
  column-gap: 20px;
  align-items: center;
  animation: scroll 15s linear infinite;
}
.marquee-container .p-marquee:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  transition: color 0.5s ease;
}
.marquee-container:hover .content-wrapper-scrolling {
  animation-play-state: paused !important;
}

.p-marquee {
  font-size: clamp(1.25rem, 0.5945rem + 3.0488vw, 2.5rem);
  white-space: nowrap;
  transition: color 0.5s ease;
  font-family: "Subjectivity", sans-serif;
  color: rgb(255, 255, 255);
}
.content-wrapper-scrolling p {
  font-weight: 800;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.twinkle
{
  min-width: 30px;
  display: block;
}
.alert-danger
{
  position: relative;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cf2b39;
  font-size: 14px;
  gap: 5px;
}
.alert-danger img
{
  width: 14px;
}
.tippy-box {
  color: rgba(255, 255, 255, 0.75); 
  border-radius: 8px; 
  padding: 10px; 
  font-size: 14px; 
}
