@import "resets.css";


/* Radial Gradient */
.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -99;
}

/* Swiper Styles */
.swiper {
  width: 100%;
  padding: 5px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip
{
  background: rgba(10, 10, 21, 0.95);
  backdrop-filter: blur(20px);
  padding: 5px;
  min-width: 200px;
}

.popup-content {
  font-family: Arial, sans-serif;
}

.popup-content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 15px;
  color: white; 
}
.popup-address
{
  color: #9cc5e3 !important;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}
.popup-content p {
  margin: 5px 0;
  color: #ffffffbf; 
  font-size: 14px;
}
.popup-phone, .popup-email {
  display: flex;
  justify-content: flex-start;
  line-height: 1.25;
  width: 100%;
  align-items: center;
}
.icon {
  margin-right: 8px; 
}

.popup-content a:hover {
  text-decoration: underline; 
}

.title {
  font-size: clamp(1.625rem, 1.4284rem + 0.9146vw, 2rem);
  color: #ffffff;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  padding-right: 10px;
  padding-bottom: 8px;
  font-family: "MontserratBold", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  z-index: 9999999;
}
.text {
  font-size: 14px;
  color: #5c5c77;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

*:focus {
  outline: none;
}

#limelight {
  max-width: 150px;
}

.limelight {
  max-width: 170px;
  width: calc(100% / 3);
}

.button:first-of-type {
  margin-right: 5px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  z-index: 99;
}

.details {
  color: rgba(255, 255, 255, 0.75);
  mix-blend-mode: screen;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 99;
}

svg {
  z-index: 99999;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
  background-position: 0 0;
}

.container-venues
{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .container-venues 
  {
    flex-direction: column !important;
  }
  .item-0
  {
    padding: 20px !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
  }
  .map-container
  {
    height: 100%;
  }
}
.item-0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 5px;
  width: 100%;
  height: 100%;
  flex-basis: 500px;
}
#h1-venues
{
  position: relative;
  text-align: center;
  font-size: clamp(1.5625rem, 1.0709rem + 2.2866vw, 2.5rem);
  font-weight: 800;
  color: white;
  background: #EFEFEF;
  background: repeating-radial-gradient(ellipse farthest-corner at top center, #fff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.item-1 {
  flex-basis: 90%;
  padding: 20px;
}
.map-container
{
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.paragraph-venues
{
  z-index: 99;
  color: rgba(255, 255, 255, 0.75);
  mix-blend-mode: luminosity;
  filter: saturate(2);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
}
#limelight-logo
{
  width: 150px;
}