*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  -webkit-tap-highlight-color: rgba(225, 255, 255, 0.2);
}
::selection {
  background-color: rgba(255, 255, 255, 0.15);
}
:root {
  --bodytext: rgba(207, 223, 231, 0.75);
  --blue: #8fb5c7;
  --divs: #797a7b;
  --placeholder: #55595d;
  --black: #000000;
  --green: #96d485;
  --outer-radius: 24px;
  --inner-radius: 19px;
}
::placeholder
{
  color: black;
}
body,
html {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(backgorund.png);
  background-size: cover;
  opacity: 0.6;
}
@font-face {
  font-family: "Subjectivity";
  src: url("Subjectivity-Bold.otf");
}

.swiper {
  width: 100%;
}
.hero-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.yoo .swiper-slide {
  aspect-ratio: 4/3;
  text-align: left;
}

/*

      .hero-swiper .swiper-slide::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: blur(150px);
        opacity: 0.8;
        animation: swipeUp 2s ease-in forwards;
      }
        */

.hero-swiper .swiper-slide {
  box-shadow: none !important;
}

.card-swiper .swiper-slide {
  box-shadow: none !important;
}
.swiper-slide {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  transition: filter 0.2s ease;
  aspect-ratio: 2/3;
  display: flex;
  align-items: flex-end;
}
#icon {
  position: absolute;
  width: 100px;
}
.content-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-swiper .swiper-slide {
  padding: 0 20px;
}
.card-swiper .swiper-slide {
  padding: 0 20px;
}
.content-reasons .swiper-slide {
  padding: 20px;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid {
  position: relative;
}
.grid > *:last-child {
  background-color: black;
  z-index: 999;
}
.container {
  height: clamp(15.625rem, 7.2917rem + 33.3333vw, 28.125rem);
  aspect-ratio: 1;
  z-index: 99;
}
.content-reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: clamp(25rem, 17.1875rem + 25vw, 31.25rem);
}
.title-join {
  background: radial-gradient(ellipse farthest-corner at bottom center, #fff 0%, #d1c0eb 50%, #978baa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: inset(0 0 0% 0);
  text-wrap: nowrap;
  font-size: clamp(1.0625rem, 0.5208rem + 2.1667vw, 1.875rem);
  z-index: 100;
}
.title {
  background: radial-gradient(ellipse farthest-corner at bottom center, #fff 0%, #d1c0eb 50%, #978baa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: grayscale(1);
  mix-blend-mode: difference;
  clip-path: inset(0 0 0% 0);
  text-wrap: nowrap;
  font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
  margin-bottom: 10px;
  z-index: 100;
}
.metadata {
  z-index: 99;
  color: rgba(255, 255, 255, 0.45);
  font-size: 13px;
  gap: 5px;
  display: inline-flex;
  margin-bottom: 10px;
}
.content-reasons .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.paragraph {
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 550px;
}
.paragraph-category {
  z-index: 99;
  font-size: 12px;
}
.paragraph-join {
  z-index: 99;
  color: rgba(253, 253, 253, 0.75);
  font-size: clamp(0.625rem, 0.5rem + 0.5vw, 0.8125rem);
  margin-top: 12px;
}
.button {
  position: relative;
  display: inline-flex;
  gap: 5px;
  z-index: 99;
  font-size: 13px;
  border-radius: 30px;
  background-image: url(buttonbackground.svg);
  filter: hue-rotate(250deg);
  background-size: cover;
  background-position: center center;
  border: none;
  color: black;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:first-of-type {
  margin-right: 5px;
  filter: grayscale(1);
}
.category {
  background-image: url(yellow.png);
  background-size: cover;
  height: 300px;
}
.button:hover {
  transform: scale(1.05);
  text-shadow: 0px 0px 20px rgba(182, 255, 158, 0.5);
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-image: url(blob2.svg);
  opacity: 0.5;
  z-index: -1;
}
.buttons {
  display: inline-flex;
  gap: 5px;
}
.content-trending {
  margin-top: 20px;
}
.content-trending,
.content-suggested,
.content-awards,
.content-video,
.content-releases {
  padding: 5px 20px;
  position: relative;
}
.content-oops {
  padding: 10px 20px;
  position: relative;
}
#trendingtitle {
  color: #d1c0eb;
  font-weight: 500;
  font-size: 17px;
}
@media screen and (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}
#play {
  width: 15px;
  vertical-align: middle;
  margin-top: 2px;
}
#hour {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-top: 1px;
}
#star {
  width: 12px;
  height: 12px;
  vertical-align: middle;

  margin-top: 1px;
}
.metadata-group {
  display: flex;
  gap: 15px;
}
.movie-title {
  position: relative;
  margin-bottom: -15px;
  font-size: 10px;
  font-weight: 700;
  z-index: 999 !important;
}
.swiper-scrollbar-drag {
  background-color: #fff;
}
.paragraph-intro {
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.content-bumgjo {
  padding: 6px 20px;
  filter: saturate(3);
  filter: contrast(100);
  position: relative;
}
.icon-contain {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#twinkle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 65px;
  z-index: 999;
}
#awarded {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 8px;
  padding: 5px 20px;
  color: #fbfbfb;
}
#awards {
  width: 100%;
  border-radius: 8px;
}
#golden {
  margin-left: 10px;
  width: 25px;
}
#top-rated {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
}
#twinkle1 {
  position: absolute;
  left: 0;
  width: 15px;
}
#background {
  position: absolute;
  z-index: -9;
}
#twinkle2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 99;
}
#twinkle-text {
  z-index: 99;
  width: 15px;
}
#twinkle3 {
  position: absolute;
  right: 0;
  width: 15px;
}
#top-rated-video {
  border-radius: 8px;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contain-text-icon {
  align-items: center;
  display: flex;
  gap: 7px;
}
#best-rated-h1 {
  position: absolute;
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}
.top-movie-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(theshawnredemption.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-mask-image: linear-gradient(to right, transparent 90%, black 80%);
  mask-image: linear-gradient(to top, transparent 90%, black 80%);
  border-radius: 8px;
}
#crown {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  vertical-align: middle;
}
.category-h1:nth-child(1) {
  font-size: clamp(1.0625rem, 0.9375rem + 0.5vw, 1.25rem);
  filter: brightness(1.2);
}
.testing {
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  padding: 5px 10px;
  max-height: 160px;
}
.h1-content {
  height: 40px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  gap: 5px;
  box-sizing: border-box;
}
hr {
  width: 85%;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #d1c0eb;
}
.h1-content picture img {
  display: inline-block;
  vertical-align: middle;
}
#gifs {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#mask {
  object-fit: cover;
  background-color: #000000b0;
  width: 100%;
  height: 100%;
}
#mask2 {
  object-fit: cover;
  background-color: #00000019;
  width: 100%;
  height: 100%;
}
.mask-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container-hero {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-container-category {
  position: absolute;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hamburger-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000 !important;
}
.hamburger-left {
  left: 20px;
}
.hamburger-right {
  right: 20px !important;
}
/* ----------- navigation menu ----------- */
.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 999 !important;
}
.menu-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://ik.imagekit.io/carl/organicme/svgs/blob.svg?updatedAt=1707298248742);
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}
.col-2 {
  flex: 1;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-cols {
  display: flex;
}
.testing {
  filter: saturate(1.5);
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu-link:not(:last-of-type) {
  position: relative;
  margin-left: 20px;
  width: max-content;
  margin-top: 15px;
  z-index: 99;
}
.center-menulink {
  display: flex;
  gap: 5px;
  align-items: center;
}
#log-in {
  width: 12px;
}
#volume-off {
  width: 15px;
}
#volume-on {
  display: none;
  width: 15px;
}
#eye {
  width: 15px;
}
#eye-off {
  display: none;
  width: 15px;
}
#mute-video {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-image: url(blob2.svg);
  background-size: cover;
  background-position: center center;
  z-index: 9999;
}
#hide {
  position: absolute;
  left: 60px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-image: url(blob2.svg);
  background-size: cover;
  background-position: center center;
  z-index: 9999;
}
a {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-link a {
  font-size: 17px;
  color: white;
  cursor: pointer;
}
.menu-link:nth-of-type(7) {
  margin-left: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.45);
}
.menu-link:nth-of-type(7) a {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 100;
  font-size: 12px;
}
.menu-link a:hover {
  color: #f0ff9e;
}
*:focus {
  outline: none;
}
input {
  color: black;
  background-color: #f0ff9e;
  border: none;
  height: 30px;
  text-align: center;
}
#limelight {
  max-width: 150px;
}
.limelight {
  width: 150px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.twinkle {
  width: 15px;
}
.twinkle {
  transition: transform 1s ease;
}
.twinkle.rotate {
  transform: rotate(180deg);
}
@font-face {
  font-family: "Objectivity";
  src: url(Objectivity-Regular.otf);
}

.middle-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
