/* Reset and Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(225, 255, 255, 0);
}

*::after, *::before {
  pointer-events: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1;
}

h1
{
 padding-bottom: calc(28px - 8px);
}
h2
{
  padding-bottom: 1px;
}
p {
  margin: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip
{
  background: rgba(10, 10, 21, 0.95);
  backdrop-filter: blur(20px);
  padding: 5px;
  min-width: 200px;
}
.popup-content {
  font-family: Arial, sans-serif;
}
img
{
  vertical-align: middle;
}

.popup-content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 15px;
  color: white; /* Customize the color */
}
.popup-address
{
  color: #9cc5e3 !important;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}
.popup-content p {
  margin: 5px 0;
  color: #ffffffbf; /* Customize the color */
  font-size: 14px;
}
.popup-phone, .popup-email {
  display: flex;
  justify-content: flex-start;
  line-height: 1.25;
  width: 100%;
  align-items: center;
}
.icon {
  margin-right: 8px; /* Adds some space between the icon and the text */
}

.popup-content a:hover {
  text-decoration: underline; /* Underline on hover */
}
input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Root Variables */
:root {
  --darker: #5c5c77;
  --blue: #14142b;
  --margin-top: 10px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 1px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::placeholder {
  color: white;
}

/* Body and HTML Styles */
body,
html {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  min-width: 344px;
  overflow-x: hidden;
}

/* Font Faces */
@font-face {
  font-family: "MontserratBold";
  src: url("/font/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: 'Subjectivity';
  src: url('/font/subjectivity-extrabold-webfont.woff2') format('woff2'),
       url('/font/subjectivity-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Sub-menu Styles */
.sub-menu {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-link.active .sub-menu {
  margin-top: 10px;
  color: red;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Search Navigation */
#search-nav {
  font-size: 13px;
}

/* Radial Gradient */
.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -99;
}

/* Swiper Styles */
.hero-swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  padding: 5px;
}

.card-swiper {
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.card-swiper .swiper-slide,
.hero-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-swiper .swiper-slide {
  background-color: rgba(0, 0, 0, 0.45);
}

.hero-swiper .swiper-slide {
  box-shadow: none !important;
}

.yoo .swiper-slide {
  aspect-ratio: 6 / 4;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s ease, transform 0.5s ease, outline 1s ease;
}

.yoo .swiper-slide:hover {
  filter: brightness(1.1);
}

.mySwiper .swiper-slide,
.ComingSoon .swiper-slide {
  position: relative;
  height: 300px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  background-color: black;
}

.mySwiper .swiper-slide:hover > img,
.ComingSoon .swiper-slide:hover > img {
  filter: brightness(1.1);
  transition: all 0.3s ease;
}

.ComingSoon .swiper-slide::after,
.mySwiper .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  background: radial-gradient(circle at bottom left, rgb(10, 10, 21) 0%, rgba(10, 10, 21, 0.5) 100%);
  opacity: 0.75;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .genre-2 {
    display: none;
  }
}

@media (max-width: 768px) and (hover: none) and (pointer: coarse) {
  .swiper-slide .btn {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    opacity: 0;
    width: calc(100% - 20px);
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: blur(1px);
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                bottom 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: transform, opacity;
  }
}

/* Video Styles */
.video-form,
.video-hero,
.video-welcome-banner,
.video-welcome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  object-fit: cover;
}

.video-hero {
  transform: scale(1.1);
  mask-image: radial-gradient(ellipse 100% 100% at right center, rgb(0, 0, 0) 0%, transparent 100%);
}

.video-welcome-banner {
  background: url("https://ik.imagekit.io/carl/limelight/0001.jpg?updatedAt=1738168332389") center center / cover no-repeat;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .hs-accordion-group {
    background-color: transparent !important;
  }
}

/* Content Trending */
.content-trending:first-of-type {
  margin-top: 200px;
}

.content-trending::before,
.content-trending::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200px;
  z-index: 2;
  pointer-events: none;
}

.content-trending::before {
  left: 0;
  background: linear-gradient(to right, #14142B 0%, rgba(255,255,255,0) 100%);
}

.content-trending::after {
  right: 0;
  background: linear-gradient(to left, #14142B 0%, rgba(255,255,255,0) 100%);
}

/* Search Contain */
.search-contain:hover > img {
  transform: rotate(-10deg) scale(1.1);
  transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .swiper-slide .btn {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }

  .swiper-slide .btn {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0ff9e;
    width: calc(100% - 20px);
    height: 40px;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    cursor: pointer;
  }

  .swiper-slide:hover .btn {
    bottom: 10px;
    opacity: 1;
    filter: blur(0px) !important;
    transform: translateX(-50%) scale(1);
  }
}

/* Additional Styles */
#icon {
  position: absolute;
  width: 100px;
}

.content-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dif {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.dif2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 80%;
}

.grid {
  position: relative;
}

.grid > *:last-child {
  background-color: black;
  z-index: 999;
}

.container-reasons {
  position: relative;
  width: 100%;
  display: flex;
  max-height: 700px;
  z-index: 99;
  height: calc(100vw * (11 / 16));
  min-height: 250px;
  background-color: black;
}

.contain-the-image {
  position: relative;
  border: 20px solid transparent;
  transform: scale(0.8);
  filter: grayscale(100%);
  opacity: 0;
  display: flex;
  justify-content: center;
}

.hero2 {
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container-them {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  z-index: 99;
}

.hero__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  mask-image: radial-gradient(ellipse 100% 100% at right center, rgb(0, 0, 0) 0%, transparent 100%);
}

/* Safari-specific styles */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
  .dif2 video {
    display: none !important;
  }
  .dif2 img {
    display: block !important;
  }
  #mute-video {
    display: none !important;
  }
  dotlottie-player {
    mix-blend-mode: initial !important;
    filter: invert(0) !important;
    transform: translate3d(0,0,0);
  }
  .category-h1 {
    mix-blend-mode: initial !important;
    filter: none !important;
    color: black !important;
  }
}

.dif2 img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  height: 100% !important;
  width: 100%;
  mask-image: radial-gradient(ellipse 100% 100% at right center, rgb(0, 0, 0) 0%, transparent 100%);
  display: none;
}

.dif2 video {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 500px) {
  .hero__image {
    display: none;
  }
}
@media (max-width: 700px)
{
  .welcome
  {
    display: none;
  }
}
@media (max-width: 700px)
{
  .marquee-container
  {
    display: none;
  }
}

/* Grid and Card Styles */
.grid::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/svg/grey_spotlight.svg");
  background-position: left left;
  background-size: cover;
  filter: blur(50px);
}

.movie-card {
  position: absolute;
  bottom: -50px;
  left: clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem);
  background: url(alien_romulus.webp) center center / cover no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 10px #BD110D;
  transition: filter 0.2s ease;
  aspect-ratio: 2/3;
  width: clamp(6.25rem, 4.6113rem + 7.622vw, 9.375rem);
  display: flex;
}


.marquee-container
{
  background: rgb(32, 32, 32);
  margin: 0 auto;
  width: 100%;
  height: clamp(5rem, 2.0833rem + 6.6667vw, 6.25rem);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  cursor: default;
}
@media (max-width: 700px)
{
  .marquee-container
  {
    display: none;
  }
}

.marquee-container::after
{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ffac6e, #ff526f, #8550ff, #5661ff, #52d8fc, #6aff74);
  filter: blur(50px);
  mix-blend-mode:overlay;
}
.content-wrapper-scrolling {
  padding-inline: 8px;
  min-width: fit-content;
  display: flex;
  column-gap: 20px;
  align-items: center;
  animation: scroll 15s linear infinite;
}
.p-marquee:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  transition: color 0.5s ease;
}
.marquee-container:hover .content-wrapper-scrolling {
  animation-play-state: paused !important;
}

.p-marquee {
  font-size: clamp(1.25rem, 0.5945rem + 3.0488vw, 2.5rem);
  white-space: nowrap;
  transition: color 0.5s ease;
  font-family: "Subjectivity", sans-serif;
  color: grey;
}
.content-wrapper-scrolling p {
  font-weight: 800;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.twinkle
{
  width: 20px;
}
.content-wrapper > * {
  padding: 0 clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem);
}

.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: clamp(28.125rem, 21.875rem + 25vw, 37.5rem);
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.hero2::after {
  content: '';
  position: absolute;
  z-index: 44;
  inset: 0;
  border-radius: inherit;
  background-color: rgba(10, 10, 21, 0.9);
}

.wave {
  position: absolute;
  z-index: -99;
}

.title-join {
  color: black;
  font-size: clamp(1rem, 0.2134rem + 3.6585vw, 2.5rem);
  clip-path: inset(0 0 0% 0);
  font-family: "Subjectivity", sans-serif;
  text-wrap: nowrap;
  z-index: 100;
}

.text-icon {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.arrow {
  width: clamp(1.5625rem, 0.7431rem + 3.811vw, 3.125rem);
  animation: move 1s infinite;
}

.arrow2 {
  width: 20px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 500px) {
  .card .title {
    font-size: 25px !important;
  }
}

.content-wrapper .title {
  margin-bottom: calc(12px - 8px);
}

.card .title {
  margin-bottom: 15px;
}

.left-text .title {
  margin-bottom: calc(20px - 8px);
}

.title {
  font-size: clamp(1.625rem, 1.4284rem + 0.9146vw, 2rem);
  color: #ffffff;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  padding-right: 10px;
  padding-bottom: 8px;
  font-family: "MontserratBold", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  z-index: 9999999;
}

.title-faq {
  background: #FFFFFF;
  background: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #bcbcbc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.5625rem, 1.2348rem + 1.5244vw, 2.1875rem);
  padding: 30px 15px;
  font-family: "MontserratBold", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  line-height: clamp(2.1875rem, 1.8598rem + 1.5244vw, 2.8125rem);
}
.left-welcome {
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.welcome
{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    background-image: url("./svg/grid/grid_banner.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: clamp(28.125rem, 21.875rem + 25vw, 37.5rem);
    background-color: rgba(0, 0, 0, 0.8);
}
.welcome::after
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("./svg/spotlights/blue_highlight.svg");
    background-position: left left;
    background-size: cover;
    filter: blur(50px);
    opacity: 0.5; /* Reduced opacity to lessen darkening */
}
#svg {
  width: calc(100% - 50px);
  height: 100%;
  z-index: 99;
  mask-image: url("./svg/h1.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(1000%);
  max-width: 600px;
}
.title-banner {
  font-size: 50px;
  text-align: center;
  white-space: nowrap;
  color: rgba(255, 255, 255,1);
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  padding-right: 10px;
  padding-bottom: 8px;
  font-family: "MontserratBold", sans-serif;
  z-index: 9999999;
}

iframe {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.p-welcome {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 75px;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  z-index: 9999999;
}

.title-sorry {
  font-size: clamp(1.25rem, 0.7584rem + 2.2866vw, 2.1875rem);
  color: #ffffff;
  padding-right: 10px;
  font-family: "Subjectivity", sans-serif;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  margin-bottom: -400px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  z-index: 9999999;
}

.max-w-2xl .title {
  margin-bottom: 20px;
}

.content-wrapper .metadata-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  width: fit-content;
  color: #5c5c77;
  gap: 10px;
}

.left-text .metadata-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin-bottom: 15px;
  color: #5c5c77;
  gap: 10px;
}

.credit-name {
  color: white;
  margin: 0;
  font-size: 14px;
}

.credit-heading {
  color: #5c5c77;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}

.credit {
  display: flex;
  gap: 10px;
}

.movie-credits {
  padding: clamp(0.3125rem, -0.1791rem + 2.2866vw, 1.25rem) 0;
}

.genre-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.metadata {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(92, 92, 119, 0.2);
  max-width: 500px;
  white-space: nowrap;
}

.info-icon {
  width: 16px;
  height: 16px;
}

.h1-content {
  color: white;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow2 {
  width: 12px;
  height: 12px;
}

.info-content {
  color: white;
  font-size: 14px;
  white-space: nowrap;
  flex-grow: 1;
}

.metadata img {
  vertical-align: middle;
  width: 15px;
  margin-right: 5px;
}

.text {
  font-size: 14px;
  color: #5c5c77;
}

.paragraph-left {
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 700px;
}

.title-image .paragraph {
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
}

.content-wrapper .paragraph {
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 450px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paragraph-category {
  z-index: 99;
  font-size: 12px;
}

.paragraph-join {
  z-index: 99;
  color: rgba(255, 255, 255, 0.75);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
  margin-bottom: clamp(0.9375rem, 0.6098rem + 1.5244vw, 1.5625rem);
}

.p-faq {
  z-index: 99;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.75);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
}

.content-banner {
  position: relative;
}

.content-trending {
  margin-top: 20px;
}

.content-showing {
  position: relative;
  margin-top: 50px;
}

.content-trending,
.content-suggested,
.content-awards,
.content-video,
.content-reasons,
.content-releases {
  position: relative;
}

.content-category {
  position: relative;
  margin-bottom: 20px;
}

.padding-marquee {
  padding: 0 !important;
}

.important {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hello {
  margin-bottom: clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem);
}

.content-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-reasons {
  position: relative;
}

.content-oops {
  height: 50px;
  margin: 40px 0px 40px;
  padding: 10px 15px;
  background: rgba(10, 10, 21, 0.95);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#poporn {
  width: 200px;
}

@media screen and (max-width: 500px) {
  #poporn {
    display: none;
  }
  .info-content {
    margin: 0 20px;
  }
  .movie-credits {
    display: none;
  }
}

.el {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2V5YW0wOHNzcTZudG0wNGl2N3d2N2RudXRtaW9qaW4zYnB4MWxociZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uWzS6ZLs0AaVOJlgRd/giphy.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-size: cover;
  mask-image: url("/svg/hello.svg");
  mask-repeat: no-repeat;
  mix-blend-mode: color;
  mask-position: center;
}

#bannertext {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  color: black;
  padding: 0 15px;
  z-index: 99;
  white-space: nowrap;
}

#trendingtitle {
  color: white;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 800;
}

.h1-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
}

#trendingtitle2 {
  position: relative;
  background: linear-gradient(to right, #ffac6e, #ff526f, #8550ff, #5661ff, #52d8fc, #6aff74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-size: clamp(0.6875rem, 0.4464rem + 1.2857vw, 1.25rem);
}

@media screen and (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}

#play {
  width: 15px;
  vertical-align: middle;
  margin-top: 3px;
}

#hour {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-top: 3px;
}

#star {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-top: 3px;
}

.movie-title {
  position: relative;
  margin-bottom: -15px;
  font-size: 10px;
  font-weight: 700;
  z-index: 999 !important;
}

.swiper-scrollbar-drag {
  background-color: #fff;
}

.paragraph-intro {
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

.content-bumgjo {
  padding: 6px 20px;
  filter: saturate(3);
  filter: contrast(100);
  position: relative;
}

.icon-contain {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#twinkle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 65px;
  z-index: 999;
}

#awarded {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 8px;
  padding: 5px 20px;
  color: #fbfbfb;
}

#awards {
  width: 100%;
  border-radius: 8px;
}

#golden {
  margin-left: 10px;
  width: 25px;
}

#top-rated {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
}

#twinkle1 {
  position: absolute;
  left: 0px;
  width: 15px;
}

#background {
  position: absolute;
  z-index: -9;
}

#twinkle2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 99;
}

#twinkle-text {
  z-index: 99;
  width: 15px;
}

#twinkle3 {
  position: absolute;
  right: 0px;
  width: 15px;
}

#top-rated-video {
  border-radius: 8px;
}

#best-rated-h1 {
  position: absolute;
  font-size: 15px;
}

.top-movie-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(theshawnredemption.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-mask-image: linear-gradient(to right, transparent 90%, black 80%);
  mask-image: linear-gradient(to top, transparent 90%, black 80%);
  border-radius: 8px;
}

#crown {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  vertical-align: middle;
}

.category {
  border-radius: 8px;
  background-color: rgba(10, 10, 21, 1);
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  width: 200px;
  height: 130px;
}

.left-text {
  border-radius: 8px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.left-text h1 {
  margin-bottom: 10px;
}

.contain-image {
  position: relative;
  border-radius: 8px;
  aspect-ratio: 2/3;
  width: 100%;
  height: 100%;
}

.contain-image::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.swiper-slide.category:hover {
  transform: scale(1.05);
  transition-delay: 2s;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.icon-genre {
  width: 10px;
}

.swiper-slide.category:nth-child(1) {
  background: rgba(60, 9, 17, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #ff2146;
}

.swiper-slide.category:nth-child(2) {
  background: rgba(63, 20, 0, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #ff793c;
}

.swiper-slide.category:nth-child(3) {
  background: rgba(46, 29, 0, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #e88f00;
}

.swiper-slide.category:nth-child(4) {
  background: rgba(57, 63, 0, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #edff3c;
}

.swiper-slide.category:nth-child(5) {
  background: rgba(38, 63, 0, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #b2ff3c;
}

.swiper-slide.category:nth-child(6) {
  background: rgba(19, 63, 0, 0.5);
  box-shadow: 0 0 0 3px #000, 5px
  5px 5px 0 0 #000;
  color: #76ff3c;
}

.swiper-slide.category:nth-child(7) {
  background: rgba(0, 63, 10, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #3cff5b;
}

.swiper-slide.category:nth-child(8) {
  background: rgba(0, 63, 32, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #3cffa0;
}

.swiper-slide.category:nth-child(9) {
  background: rgba(0, 42, 46, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #00d3e8;
}

.swiper-slide.category:nth-child(10) {
  background: rgba(0, 38, 63, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #3cb2ff;
}

.swiper-slide.category:nth-child(11) {
  background: rgba(10, 0, 63, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #5b3cff;
}

.swiper-slide.category:nth-child(12) {
  background: rgba(32, 0, 63, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #a03cff;
}

.swiper-slide.category:nth-child(13) {
  background: rgba(63, 0, 38, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #ff3cb2;
}

.swiper-slide.category:nth-child(14) {
  background: rgba(66, 9, 38, 0.5);
  box-shadow: 0 0 0 3px #000, 5px 5px 0 0 #000;
  color: #ef87bd;
}

.venue-list2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.left-seats, .right-seats {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-welcome {
  flex-basis: 50%;
  display: flex; /* Ensure it can contain the image properly */
  justify-content: center; /* Center the image */
  align-items: center; /* Center the image vertically */
}

.right-welcome-container {
  height: clamp(25rem, -31.25rem + 100vw, 31.25rem);
  width: clamp(18.75rem, 8.5227rem + 18.1818vw, 31.25rem);
  box-shadow: 0 0 20px rgba(156, 161, 237, 0.2);
  border: 2px solid #5E5E96;
  border-radius: 8px;
}

.right-welcome-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.left-seats {
  flex-basis: 50%;
  justify-content: flex-start;
}

.right-seats {
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .right-seats {
    display: none;
  }
}

#p-seats {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 10px;
}

#p-seats-number {
  font-weight: 700;
  font-size: 18px;
  color: #9ca1ed;
}

.testing::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.1) 20%,
    transparent 60%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.testing::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at 50% 40%,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 50%
  );
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
}

#hs-basic-with-title-and-arrow-stretched-heading-two.hs-accordion.pt-6.pb-3,
#hs-basic-with-title-and-arrow-stretched-heading-three.hs-accordion.pt-6.pb-3,
#hs-basic-with-title-and-arrow-stretched-heading-seven.hs-accordion.pt-6.pb-3,
#hs-basic-with-title-and-arrow-stretched-heading-five.hs-accordion.pt-6.pb-3,
#hs-basic-with-title-and-arrow-stretched-heading-six.hs-accordion.pt-6.pb-3 {
  border-top: 1px solid #201F23 !important;
}

.text-gray-600 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.h1-content2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  gap: 5px;
  box-sizing: border-box;
}

.h1-content2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  box-sizing: border-box;
}

hr {
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #9ca1ed;
}

.h1-content picture img {
  display: inline-block;
  vertical-align: middle;
}

#gifs {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#mask {
  object-fit: cover;
  background-color: #000000b0;
  width: 100%;
  height: 100%;
}

#mask2 {
  object-fit: cover;
  background-color: #00000019;
  width: 100%;
  height: 100%;
}

.mask-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container-category {
  position: absolute;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#menu-circle {
  background-color: grey;
  padding: 20px;
}

/* ----------- Navigation Menu ----------- */

.twinkle {
  width: 15px;
  transition: transform 1s ease;
}

.twinkle.rotate {
  transform: rotate(180deg);
}

.menu-icon {
  width: 12px;
}

.menu-overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 0;
  height: 100%;
  max-height: 550px;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  background-color: rgba(0, 0, 0, 0.65) !important;
  backdrop-filter: saturate(300%) blur(100px);
  -webkit-backdrop-filter: saturate(300%) blur(100px);
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  border-radius: 0 8px 8px 0;
  z-index: 9999999 !important;
}

.col-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-2 > * {
  padding: 0 20px;
}

.menu-cols {
  display: flex;
  height: 100%;
}

.search-contain {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  background-color: #ffffff0d;
  border-radius: 8px;
  padding: 5px 0px;
}

.search-contain:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-contain img {
  height: 15px;
  margin-left: 15px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

#search-nav {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  padding: 8px;
  outline: none;
}

input:focus > .search-contain {
  background-color: rgba(255, 255, 255, 1);
}

/* Remove autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

#search-nav::placeholder {
  color: #ffffff80;
}

.hamburger-icon {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  left: 10px;
  top: 10px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000 !important;
}

.search-contain:hover > img {
  transform: rotate(-10deg) scale(1.1);
  transition: all 0.3s ease;
}

.menu-link a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-weight: 500;
}

.menu-link {
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.menu-link:hover {
  cursor: pointer;
}

.menu-link:hover a {
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Profile Section Styles */
.profile-section {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.profile-name {
  background: radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #bcbcbc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  margin: 0;
  margin-left: 5px;
  font-weight: 700;
}
.buttons {
  display: inline-flex;
  gap: 10px;
}
.row-buttons {
  display: flex;
  background-color: transparent;
  gap: 5px;
  margin-top: 5px;
  font-weight: 500;
}

.profile-account-type {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  white-space: nowrap;
  margin: 0;
}

.profile-image-container {
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff1a;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}

.profile-role {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  white-space: nowrap;
  margin: 0;
  margin-left: 5px;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
}

.arrow-btn {
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-offset: 0px;
  transition: outline 0.5s ease;
}

/* Hover effect for exit button (left arrow) */
.exit-btn:hover .arrow-icon img {
  transform: translateX(-2px);
}

.login-btn:hover .arrow-icon img {
  transform: translateX(2px);
}

.arrow-icon img {
  width: 15px;
  transition: transform 0.3s ease;
}

/* First menu item was empty, now contains profile */
.first-menu-item {
  margin: 0;
  margin-left: 5px;
  margin-top: 5px;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.arrow-btn {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  padding: 8px 12px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-offset: 0px;
  transition: outline 0.5s ease;
}

/* Hover effect for exit button (left arrow) */
.exit-btn:hover .arrow-icon img {
  transform: translateX(-2px);
}

.login-btn:hover .arrow-icon img {
  transform: translateX(2px);
}

.exit-btn {
  background-color: rgba(255, 94, 94, 0.05);
  color: #ff5e5e;
  transition: background-color 0.3s ease;
}

.login-btn {
  background-color: rgba(126, 255, 94, 0.05);
  color: #7eff5e;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: rgba(126, 255, 94, 0.1);
  transition: background-color 0.3s ease;
}

.exit-btn:hover {
  background-color: rgba(255, 94, 94, 0.1);
  transition: background-color 0.3s ease;
}

.arrow-icon img {
  width: 15px;
  transition: transform 0.3s ease;
}

/* First menu item was empty, now contains profile */
.first-menu-item {
  border-width: 0 0 1px 0;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.025));
  border-image-slice: 1;
  border-style: solid;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Second menu item contains navigation links */
.second-menu-item {
  flex-grow: 8;
  padding: 20px;
}

/* Second menu item contains navigation links */
.third-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/* Styles for nav-buttons */
.nav-buttons {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  color: #ffffff80;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: max-content;
  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard {
  color: #f0ff9e;
  background-color: rgba(240, 255, 158, 0.05);
}

.settings:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dashboard:hover {
  background-color: rgba(240, 255, 158, 0.1);
}

/* ----------- Navigation Menu ----------- */

.center-menulink {
  display: flex;
  gap: 10px;
  align-items: center;
}

#log-in {
  width: 15px;
}

#volume-off {
  width: 15px;
}

#play-video {
  width: 15px;
}

#volume-on {
  display: none;
  width: 15px;
}

#pause-video {
  display: none;
  width: 15px;
}

#eye {
  width: 15px;
}

#eye-off {
  display: none;
  width: 15px;
}

#mute-video {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #9ca1ed;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.75));
  z-index: 9999;
  cursor: pointer;
}

#hide {
  position: absolute;
  left:   60px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-image: url("/svg/grain/blob2.svg");
  background-size: cover;
  background-position: center center;
  z-index: 9999;
}

*:focus {
  outline: none;
}

#limelight {
  max-width: 150px;
}

.limelight {
  max-width: 170px;
  width: calc(100% / 3);
}

header .twinkle {
  width: 15px;
}

.twinkle {
  transition: transform 1s ease;
}

.twinkle.rotate {
  transform: rotate(180deg);
}

.middle-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#horror {
  width: 35px;
}

.category-h1 {
  font-size: 20px;
  font-weight: 700;
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  text-align: center;
}

.category-h1 {
  margin: 0;
}

.testing img {
  transition: transform 0.5s ease;
}

.testing:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.start:hover {
  filter: brightness(1.15);
  transform: scale(1.05);
}

.start img {
  transform: translateX(0px);
  transition: transform 0.25s ease;
}

.start:hover img {
  transform: translateX(3px);
  transition: transform 0.25s ease;
}

.rating {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  top: 10px;
  right: 10px;
}

.rating-card {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3px 6px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

.rating-number {
  font-size: 10px;
  font-weight: bold;
}

.star-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.rating img {
  width: 25px;
}

.star img {
  width: 30px;
}

.start {
  background-color: #f0ff9e !important;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  transform: translateX(0);
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  background-image: radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50px;
  cursor: pointer;
  transform: translateX(0);
  transition: transform 0.25s ease;
  z-index: 99;
  height: 45px;
  min-height: 45px;
  width: 100%;
}

.button2:hover {
  filter: brightness(1.15);
  transition: filter 0.3s ease;
}

.button3:hover {
  filter: brightness(1.15);
  transition: filter 0.3s ease;
}

.button:first-of-type {
  margin-right: 5px;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.desktop-only {
  display: inline;
  font-family: "Subjectivity", sans-serif;
  color: #9ca1ed;
}

.movie-card {
  position: relative;
  max-width: 32rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
}

.mySwiper .swiper-slide {
  position: relative;
}

.movie-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  z-index: 99;
}

.title-card {
  color: white;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99;
}

.details {
  color: rgba(255, 255, 255, 0.75);
  mix-blend-mode: screen;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 99;
}

.rating-container {
  display: flex;
  align-items: center;
}

.star {
  font-size: 16px;
  margin-right: 4px;
}

.content .book-button {
  margin-top: 10px;
}

.comingSoon .book-now:hover > img {
  animation: bell 1s ease-in-out infinite;
  transform-origin: top center;
  transition: all 0.3s ease;
}

@keyframes bell {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.star {
  width: 15px;
}

.genre {
  color: rgba(255, 255, 255, 0.75);
}

.genre-badge {
  display: inline-flex;
  gap: 5px;
  font-size: 10px;
  font-weight: 600;
  padding: 5px 12px;
  border-radius: 50px;
  background: rgba(60, 9, 17, 0.79);
  box-shadow: 0px 0px 1.5px 0.05px #ff2146 inset;
  color: #ff2146;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 99;
}

.genre-text {
  filter: drop-shadow(0 0 0.5px #ff2146);
}

.genre-badge img {
  filter: drop-shadow(0 0 1px #ff2146);
}

.genre-container-index {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  align-items: center;
  gap: 8px;
}

.genre-icon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.title-span {
  display: inline;
  font-family: "Subjectivity", sans-serif;
  color: #9ca1ed;
}

/* Radio */
.radio-wrapper-13 .rdo {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.15s ease;
}

.radio-wrapper-13 .rdo:after {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transform: scale(0);
}

.radio-wrapper-13 label {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.radio-wrapper-13 input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio-wrapper-13 input[type="radio"]:checked + .rdo {
  background-image: linear-gradient(#9ca1ed, #5962e1);
}

.radio-wrapper-13 input[type="radio"]:checked + .rdo:after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.15s ease;
}

/* Checkbox */
.checkbox-wrapper {
  display: inline-block;
  cursor: pointer;
}

.checkbox-wrapper input {
  display: none;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: background 0.2s;
}

.checkbox-wrapper label:hover {
  filter: brightness(1.15);
}

.checkbox-wrapper .box {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.1);
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.checkbox-wrapper input:checked + label .box > p {
  display: block;
}

.checkbox-wrapper .box > p {
  font-size: 10px;
  font-weight: 700;
  color: #000;
  display: none;
}

.checkbox-wrapper svg {
  width: 20px;
  height: 20px;
  stroke: black;
  cursor: pointer;
  stroke-width: 2;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  transition: stroke-dashoffset 0.3s ease-in-out;
  position: absolute;
}

.checkbox-wrapper input:checked + label .box {
  background: #9ca1ed;
  box-shadow: 0px 0px 15px 0px #5962e1;
  animation: scaleEffect 0.3s;
}

.checkbox-wrapper input:checked + label svg {
  stroke-dashoffset: 0;
}

@keyframes scaleEffect {
  50% { transform: scale(0.9); }
}

/* Media Queries */
@media (min-width: 900px) {
  .hero-swiper::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    mask-composite: exclude;
    background-image: linear-gradient(
      to top right,
      #0d0d1c 0%,
      #000 50%,
      #000 50%,
      #000 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }
}

@media (max-width: 900px) {
  .content-section video {
    display: none !important;
  }
  #mute-video {
    display: none !important;
  }
  #hide {
    display: none !important;
  }
  .contain-the-image {
    display: none !important;
  }
  #playback-video {
    display: none !important;
  }
  .content-section {
    background-color: black !important;
  }
  .movie-credits {
    display: none !important;
  }
  .left-text {
    justify-content: flex-end !important;
  }
  .hero2 {
    padding: 0 !important;
  }
  .container-them {
    flex-direction: row;
    padding: 20px !important;
  }
}

.padding {
  padding: 20px;
}

@media (min-width: 700px) {
  .padding-reasons {
    padding: 20px;
  }
  .container-reasons {
    border-radius: 20px;
  }
  .card {
    position: relative;
    background-image: url("/svg/grid/grid.svg");
    background-position: left;
    background-repeat: no-repeat;
  }
  .card::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/svg/spotlights/blue_highlight.svg");
    background-position: left left;
    background-size: cover;
    filter: blur(50px);
  }
}

@media (max-width: 500px) {
  .desktop-only {
    display: none;
  }
}

.booking-location {
  margin-top: 30px;
  position: relative;
}

.booking-stage {
  position: relative;
}

.input-wrapper {
  position: relative;
  padding: 8px 12px;
  background-image: linear-gradient(126.6deg, rgba(124, 130, 177, 0.12) 28.69%, rgba(17, 18, 27, 0) 100%);
  border-radius: 13px;
  display: flex;
  align-items: flex-end;
  transition: background-color 0.15s ease-out;
  margin-bottom: 10px;
  cursor: text;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/svg/grain/blob2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
  opacity: 0.2;
  z-index: -1;
}

.container {
  text-align: center;
  padding: 20px;
}

#progress-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.progress-container::before {
  content: '';
  background-color: #5c5c77;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}

.progress {
  background-color: #5c5c77;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -9;
  transition: .4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

svg {
  z-index: 99999;
}

.input-wrapper .icon.password:hover {
  filter: brightness(1.3);
  transition: filter 0.5s ease;
}

.mySwiper .swiper-wrapper,
.ComingSoon .swiper-wrapper,
.yoo .swiper-wrapper,
.myUniqueSwiper .swiper-wrapper {
  box-sizing: border-box;
  padding: 15px 0 25px 0;
  width: 100%;
  height: auto;
}

.swiper-scrollbar {
  background: rgba(92, 92, 119, 0.25);
}

.swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.75);
}

.swiper-container-horizontal > .swiper-scrollbar {
  border-radius: 2px;
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Fade in */
.menu-link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-image: linear-gradient(90deg, #f0ff9e, #000);
  background-size: 200% 100%;
  background-position: -100% 0;
  opacity: 0;
  transition: opacity 300ms, transform 300ms, background-position 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
  background-position: 0 0;
}

.input-wrapper:hover {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: 0px;
}

.input-wrapper input
{
    

}
/* Hover effect for exit button (left arrow) */
.exit-btn:hover .arrow-icon img {
    transform: translateX(-2px);
  }
  .login-btn:hover .arrow-icon img {
    transform: translateX(2px);
  }

.hamburger-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 1px;
    width: 50%;
    background: #FFFFFF7F;
    -webkit-transition: all 0.3s ease-in-out;
  }
  .hamburger-icon span:nth-child(1) {
    transform: translate(-50%, 5px);
  }
  .hamburger-icon span:nth-child(2) {
    transform: translate(-50%, 0);
  }
  .hamburger-icon span:nth-child(3) {
    transform: translate(-50%, -5px);
  }
  .hamburger-icon.active span:nth-child(1) {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  .hamburger-icon.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.active span:nth-child(3) {
    transform: translate(-50%, 0) rotate(45deg);
  }


  .book-button, .start-button
  {
    position: relative;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to bottom, #f0ff9e, #232900) border-box;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #f0ff9e;
    font-size: 14px;
    text-shadow: 0px 0px 20px rgba(182, 255, 158, 0.3);
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
.start-button
{
  gap: 5px;
}
.start-button img
{
  transition: transform 0.3s ease;
}
.start-button:hover > img
{
  transform: translateX(2px);
  transition: transform 0.3s ease;
}
.book-button
{
  gap: 10px;
  filter: grayscale(1);
}
.book-button::after, .start-button::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url('/svg/grain/blob2.svg');
  opacity: 0.5;
  pointer-events: none;
}
.ticket-icon {
  vertical-align: middle;
}
.book-button img
{
  transition: transform 0.3s ease;
  width: 20px;
}
.book-button:hover > img
{
  transform: scale(1.1) rotate(-10deg);
  transition: transform 0.3s ease;
}
.book-button:hover, .start-button:hover
{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.container-venues
{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .container-venues 
  {
    flex-direction: column !important;
  }
  .item-0
  {
    padding: 20px !important;
    align-items: flex-start !important;
    justify-content: flex-end !important;
  }
  .map-container
  {
    height: 100%;
  }
}
.item-0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 5px;
  width: 100%;
  height: 100%;
  flex-basis: 500px;
}
#h1-venues
{
  position: relative;
  text-align: center;
  font-size: clamp(1.5625rem, 1.0709rem + 2.2866vw, 2.5rem);
  font-weight: 800;
  color: white;
  background: #EFEFEF;
  background: repeating-radial-gradient(ellipse farthest-corner at top center, #fff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.venue-1
{
  position: relative;
  border-radius: 8px;
  background-color: #0000005d;
  width: 100%;
  height: max-content;
  margin-top: 20px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
}
.venue-1-image
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.item-1 {
  flex-basis: 90%;
  padding: 20px;
}
.map-container
{
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.paragraph-venues
{
  z-index: 99;
  color: rgba(255, 255, 255, 0.75);
  mix-blend-mode: luminosity;
  filter: saturate(2);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
}

#unicorn::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 8px;
}
#limelight-logo
{
  width: 150px;
}

.button-submit {
  position: relative;
  margin-top: 20px;
  background-color: #F0FF9EFF;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  background-image: radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease-out;
  z-index: 99;
  height: 45px;
  min-height: 45px;
  width: 100%;
}

.button-submit img {
  transition: transform 0.3s ease;
  pointer-events: none;
}

.button-submit:hover {
  transform: scale(1.015);
}

.button-submit:hover img {
  transform: translateX(2px);
}

.button-submit:hover {
  filter: brightness(1.15);
  transition: all 0.2s ease;
}
