*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: rgba(225, 255, 255, 0);
}
*::after, *::before
{
  pointer-events: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1;
}
input,
button,
textarea,
select {
  font: inherit;
}
* {
  margin: 0;
}
::selection {
  background-color: rgba(255, 255, 255, 0.05);
}

:root {
  --darker: #5c5c77;
  --blue: #14142b;
  --margin-top: 10px;
}

::placeholder {
  color: white;
}
body,
html {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  min-width: 344px;
  overflow-x: hidden;
  font-family: "OpenSans", sans-serif;
}
.sub-menu {
  display: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  list-style-type: none; /* Remove bullet points */
}

.menu-link.active .sub-menu
{
  margin-top: 10px;
  color: red;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#search-nav {
  font-size: 13px;
}
.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  color: #191919;
}
.radial-gradient::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("grid_transparent.svg");
  background-size: cover;
  background-position: center center;
}


@font-face {
  font-family: 'Subjectivity';
  src: url('subjectivity-extrabold-webfont.woff2') format('woff2'),
       url('subjectivity-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.hero-swiper {
  width: 100%;
  height: 100%;
}
.swiper
{
  width: 100%;
  padding: 10px 5px;
}

.card-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.45);
}
.md:col-span-2
{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.max-w-xs h2
{
  font-size: clamp(1.25rem, 0.7584rem + 2.2866vw, 2.1875rem);
  color: #ffffff;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  padding: 10px 10px 0 0; /* no clip with text shadow */
  font-family: "Subjectivity", sans-serif;
}
.grid
{
  background-color: black;
  background: url("grid.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 1 !important;
  padding: 50px;
  border-radius: 20px;
  border: 3px solid #1F1F3B;
}
.card
{
  position: relative; /* Ensure ::before and ::after work properly */
  padding: 3.5rem 2rem;
  background-position: center center;
  background-image: url("grid.svg");
  background-position: left;
  background-repeat: no-repeat;
}
.yoo .swiper-slide {
  aspect-ratio: 6 / 4;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s ease, transform 0.5s ease, outline 1s ease; /* Combined transitions */
  outline-offset: 0px;
}

.card-swiper {
  height: 100%;
  position: relative;
  backdrop-filter: blur(2px);
  color: white;
  border-radius: 20px;

}
.search-contain:hover > img {
  transform: rotate(-10deg) scale(1.1);
  transition: all 0.3s ease;
}
.hero::before
{
  content: '';
  position: absolute;
  z-index: 44;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background-image: linear-gradient(
    to top right, /* Change direction to focus on bottom left */
    #9ca1ed 0%,
    #000 50%, /* Keep the black color for most of the area */
    #000 50%, /* Start the #9ca1ed color at 62% */
    #000 100% /* Extend the #9ca1ed color to the bottom left */
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.hero-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.yoo .swiper-slide:hover {
  filter: brightness(1.1);
}
@media screen and (max-width: 800px) {
  .content-section video {
    display: none !important;
  }
  #mute-video {
    display: none !important;
  }
  #hide {
    display: none !important;
  }
}
video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  object-fit: cover;
}

.button:active {
  filter: brightness(1.3);
}

/*

      .hero-swiper .swiper-slide::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: blur(150px);
        opacity: 0.8;
        animation: swipeUp 2s ease-in forwards;
      }
        */

.hero-swiper .swiper-slide {
  box-shadow: none !important;
}

@media (prefers-color-scheme: dark) {
  .hs-accordion-group
  {
      background-color: transparent !important; /* Dark mode */
  }
}


.card-swiper .swiper-slide {
  box-shadow: none !important;
}
.mySwiper .swiper-slide
{
  position: relative;
  border-radius: 5px;
  aspect-ratio: 2/3;
  display: flex;
  box-shadow: 0 0 0 2px black;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-end;
  will-change: transform;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  outline-offset: 0px;
}
.ComingSoon .swiper-slide
{
  position: relative;
  border-radius: 5px;
  aspect-ratio: 3/2;
  display: flex;
  box-shadow: 0 0 0 2px black;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-end;
  will-change: transform;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  outline-offset: 0px;
}

@media (max-width: 768px) and (hover: none) and (pointer: coarse)
{
  .swiper-slide .btn {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    opacity: 0;
    width: calc(100% - 20px);
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: blur(1px);
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                bottom 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: transform, opacity;
  }
}

@media (hover: hover) and (pointer: fine)
{
  .swiper-slide .btn {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, bottom 0.3s ease-in-out; /* Increase duration for smoothness */
  }

  /* Styles for touch devices */
  .swiper-slide .btn {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0ff9e;
    width: calc(100% - 20px);
    height: 40px;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    cursor: pointer;
  }
  option
  {
    color: white;
  }
  #sort-by {
    padding: 5px; /* Adjust the padding value as needed */
    color: white;
    font-size: 14px; /* Optional: Adjust font size for better readability */
  }
  option
  {
    font-size: 10px;
    margin-left: 20px;
    color: white;

  }
  select
  {
    font-family: inherit;
    line-height: 1.25rem;
    white-space: nowrap;
    box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
    font-weight: inherit;
    letter-spacing: inherit;
    background-color: black;
    text-transform: none;
    cursor: pointer;
    height: 2.25rem;
    width: 170px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
  }
  select::placeholder
  {
    color: white;
  }
  .swiper-slide img
  {
    transition: all 0.3s ease;

  }
  .swiper-slide .btn:hover > img
  {
    transform: scale(1.1) rotate(-5deg);
    transition: all 0.3s ease;
  }

  .swiper-slide:hover .btn {
    bottom: 10px;
    opacity: 1;
    filter: blur(0px) !important;
    transform: translateX(-50%) scale(1);
  }
}
#icon {
  position: absolute;
  width: 100px;
}
.content-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dif {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
  filter: url(#grain);
  -webkit-filter: url(#grain);
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.dif2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 80%;
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
}
.grid {
  position: relative;
}
.grid > *:last-child {
  background-color: black;
  z-index: 999;
}
.container-reasons
{
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 20px;
  max-height: 700px;
  z-index: 99;
  height: calc(100vw * (11 / 16));
  min-height: 250px;
  background-color: black;
}

.hero2
{
    box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
    background: url("https://lumiere-a.akamaihd.net/v1/images/alien_romulus_16x9_run30_bdabb773.jpeg?region=0,0,1920,1080&width=600") center center / cover no-repeat;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.container-them
{
    position: relative;
    width: 100%;
    display: flex;
    border-radius: 20px;
    z-index: 99;
}

.container-reasons::before
{
  content: '';
  position: absolute;
  z-index: 44;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background-image: linear-gradient(
    to bottom right, /* Change direction to focus on bottom left */
    #9ca1ed 0%,
    #27283B 50%, /* Keep the black color for most of the area */
    #27283B 50%, /* Start the #9ca1ed color at 62% */
    #27283B 100% /* Extend the #9ca1ed color to the bottom left */
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.hero__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
  mask-image: radial-gradient(ellipse 100% 100% at right center, rgb(0, 0, 0) 0%, transparent 100%);
}


/* im doing this because safari doesn't autoplay videos meaning you would need to click on the button to play the video which is not great */
  @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    .dif2 video {
          display: none !important;
      }
      .dif2 img {
          display: block !important;
      }
      #mute-video
      {
        display: none !important;
      }
      dotlottie-player
      {
        mix-blend-mode: initial !important;
        filter: invert(0) !important;
        transform: translate3d(0,0,0);
      }
      #trendingtitle
      {
        mix-blend-mode: initial !important;
        filter: none !important;
        color: black !important;
      }
      .category-h1
      {

        mix-blend-mode:initial !important;
        filter: none !important;
        color: black !important;
      }
  }

.dif2 img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
    height: 100% !important;
  width: 100%;
  display: none; /* Default to none */
}
.dif2 video {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  display: block; /* Default to block */
}

@media screen and (max-width: 800px) {
  .hero__image {
    display: none;
  }
}
.card
{
  position: relative; /* Ensure ::before and ::after work properly */
  padding: 3.5rem 2rem;
  background-image: url("grid.svg");
  background-position: left;
  background-repeat: no-repeat;
}


.grid::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("grey_spotlight.svg");
  background-position: left left;
  background-size: cover;
  filter: blur(50px);
}

.card::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("svgexport-6.svg");
  background-position: left left;
  background-size: cover;
  filter: blur(50px);
}

.movie-card
{
  position: absolute;
  bottom: -50px;
  left: clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem);
  background: url(alien_romulus.webp) center center / cover no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 10px #BD110D;
  transition: filter 0.2s ease;
  aspect-ratio: 2/3;
  width: clamp(6.25rem, 4.6113rem + 7.622vw, 9.375rem);
  display: flex;
}


.content-wrapper > *
{
  padding: 0 clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem);
}
.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: clamp(28.125rem, 21.875rem + 25vw, 37.5rem);
  background-color: #0a0a15;

}
.wave {
  position: absolute;
  z-index: -99;
}
.title-join {
  color: black;
  font-size: clamp(1rem, 0.2134rem + 3.6585vw, 2.5rem);
  clip-path: inset(0 0 0% 0);
  font-family: "Subjectivity", sans-serif;
  text-wrap: nowrap;
  z-index: 100;
}
.title {
  font-size: clamp(1.25rem, 0.7584rem + 2.2866vw, 2.1875rem);
  color: #ffffff;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  padding-right: 10px; /* no clip with text shadow */
  font-family: "Subjectivity", sans-serif;
  white-space: nowrap;
  z-index: 100;
}
.max-w-2xl .title::after
{
 content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("straight_spotlight.svg");
  background-position: left left;
  background-size: cover;
  filter: blur(30px);
}
.card .title
{
  margin-bottom: 20px;
}
.max-w-2xl .title
{
  margin-bottom: 20px;
}
.metadata-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.metadata {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.metadata img {
  vertical-align: middle;
  width: 15px; /* Adjust size as needed */
  margin-right: 5px;
}

.text {
  line-height: 40px; /* Centers text vertically within the block */
  font-size: 14px;
  color: #5c5c77;
}

.paragraph-left
{
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 550px;
}
.paragraph {
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 450px;
  /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paragraph-category {
  z-index: 99;
  font-size: 12px;
}

.paragraph-join {
  z-index: 99;
  color: rgba(255, 255, 255, 0.75);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
  margin-bottom: clamp(0.9375rem, 0.6098rem + 1.5244vw, 1.5625rem);
}
.paragraph-venues
{
  z-index: 99;
  color: rgba(255, 255, 255, 0.75);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
}
.button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.buttons {
  display: inline-flex;
  gap: 5px;
}
.content-trending {
  margin-top: 20px;
}
.content-trending,
.content-suggested,
.content-awards,
.content-video,
.content-reasons,
.content-releases {
  position: relative;
}





.content-reasons
{
  position: relative; /* Ensure the pseudo-element is positioned correctly */
}

.content-oops {
  height: 50px;
  margin: 40px 0px 40px;
  padding: 10px 15px;
  background: rgba(10, 10, 21, 0.95);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#poporn {
  width: 200px;
}
@media screen and (max-width: 500px) {
  #poporn {
    display: none;
  }
}
.el {
  position: absolute; /* Use fixed positioning for it to stay in place while scrolling */
  right: 0; /* Align to the right */
  width: 100%; /* Full viewport width */
  height: 100%; /* Full viewport height */
  background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2V5YW0wOHNzcTZudG0wNGl2N3d2N2RudXRtaW9qaW4zYnB4MWxociZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uWzS6ZLs0AaVOJlgRd/giphy.gif");
  background-size: contain; /* Contain the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  mask-size: cover;
  mask-image: url("hello.svg"); /* Use the SVG mask */
  mask-repeat: no-repeat;
  mix-blend-mode: color;
  mask-position: center; /* Ensure it is above other content, if necessary */
}
#bannertext {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  color: black;
  padding: 0 15px;
  z-index: 99;
  white-space: nowrap;
}
#trendingtitle {
  background: linear-gradient(180deg, #ffffff 50%, #c6c6c6 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 800;
}
.h1-background
{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;

}
#trendingtitle2 {
  position: relative;
  background: linear-gradient(to right, #ffac6e, #ff526f, #8550ff, #5661ff, #52d8fc, #6aff74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-size: clamp(0.6875rem, 0.4464rem + 1.2857vw, 1.25rem);
}
@media screen and (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}
#play {
  width: 15px;
  vertical-align: middle;
  margin-top: 3px;
}
#hour {
  width: 12px;
  height: 12px;
  vertical-align: middle;

  margin-top: 3px;
}
#star {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-top: 3px;
}
.movie-title {
  position: relative;
  margin-bottom: -15px;
  font-size: 10px;
  font-weight: 700;
  z-index: 999 !important;
}
.swiper-scrollbar-drag {
  background-color: #fff;
}
.paragraph-intro {
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.content-bumgjo {
  padding: 6px 20px;
  filter: saturate(3);
  filter: contrast(100);
  position: relative;
}
.icon-contain {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#twinkle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 65px;
  z-index: 999;
}
#awarded {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 8px;
  padding: 5px 20px;
  color: #fbfbfb;
}
#awards {
  width: 100%;
  border-radius: 8px;
}
#golden {
  margin-left: 10px;
  width: 25px;
}
#top-rated {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
}
#twinkle1 {
  position: absolute;
  left: 0px;
  width: 15px;
}
#background {
  position: absolute;
  z-index: -9;
}
#twinkle2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 99;
}
#twinkle-text {
  z-index: 99;
  width: 15px;
}
#twinkle3 {
  position: absolute;
  right: 0px;
  width: 15px;
}
#top-rated-video {
  border-radius: 8px;
}
#best-rated-h1 {
  position: absolute;
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}
.top-movie-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(theshawnredemption.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-mask-image: linear-gradient(to right, transparent 90%, black 80%);
  mask-image: linear-gradient(to top, transparent 90%, black 80%);
  border-radius: 8px;
}
#crown {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  vertical-align: middle;
}
.testing {
  border-radius: 8px;
  background-color: rgba(10, 10, 21, 1);
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  padding: 10px 10px;
}
.left-text
{
  padding: 20px;
    display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
    gap: 5px;
}
.left-text h1
{
  margin-bottom: 15px;
}
.contain-image
{
  aspect-ratio: 2/3;
  width: 250px;
  background: url("alien_romulus.webp") center center / cover no-repeat;
  border-radius: 8px;
}
.swiper-slide.testing:hover
{
  transform: scale(1.05);
  transition-delay: 2s;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.swiper-slide.testing:nth-child(1) {

  background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
}
.swiper-slide.testing:nth-child(2) {
  background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
  filter: hue-rotate(-25deg);
}
.swiper-slide.testing:nth-child(3) {
  background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
  filter: hue-rotate(-50deg);
}
.swiper-slide.testing:nth-child(4) {
  background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
  filter: hue-rotate(-120deg);

}
.swiper-slide.testing:nth-child(5) {
  background: linear-gradient(135deg, #2193b0 0%, #6dd5ed 100%);
}
.swiper-slide.testing:nth-child(6) {
  background: linear-gradient(135deg, #56ab2f 0%, #a8e063 100%);
}
.swiper-slide.testing:nth-child(7) {
  background: linear-gradient(135deg, #f7971e 0%, #ffd200 100%);
}
.testing::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
          circle at center,
          rgba(255, 255, 255, 0.15) 0%,
          rgba(255, 255, 255, 0.1) 20%,
          transparent 60%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  pointer-events: none;
}
.testing::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
          circle at 50% 40%,
          rgba(255, 255, 255, 0.2) 0%,
          transparent 50%
  );
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
}
.h1-content {
  height: 60px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  gap: 5px;
  box-sizing: border-box;
}
#hs-basic-with-title-and-arrow-stretched-heading-two.hs-accordion.pt-6.pb-3
{
  border-top: 1px solid #201F23 !important;
}
#hs-basic-with-title-and-arrow-stretched-heading-three.hs-accordion.pt-6.pb-3
{
  border-top: 1px solid #201F23 !important;
}
#hs-basic-with-title-and-arrow-stretched-heading-seven.hs-accordion.pt-6.pb-3
{
  border-top: 1px solid #201F23 !important;
}
#hs-basic-with-title-and-arrow-stretched-heading-five.hs-accordion.pt-6.pb-3
{
  border-top: 1px solid #201F23 !important;
}
#hs-basic-with-title-and-arrow-stretched-heading-six.hs-accordion.pt-6.pb-3
{
  border-top: 1px solid #201F23 !important;
}
.text-gray-600
{
  color: rgba(255, 255, 255, 0.75) !important;
}
.h1-content2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  gap: 5px;
  box-sizing: border-box;
}
.h1-content2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  box-sizing: border-box;
}
hr {
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #9ca1ed;
}
.h1-content picture img {
  display: inline-block;
  vertical-align: middle;
}
#gifs {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#mask {
  object-fit: cover;
  background-color: #000000b0;
  width: 100%;
  height: 100%;
}
#mask2 {
  object-fit: cover;
  background-color: #00000019;
  width: 100%;
  height: 100%;
}
.mask-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container-category {
  position: absolute;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hamburger-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000 !important;
}
.hamburger-left {
  left: 20px;
}
.hamburger-right {
  right: 20px !important;
}
/* ----------- navigation menu ----------- */
.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0,0,0,0.8)!important;
  backdrop-filter: saturate(180%) blur(100px);
  -webkit-backdrop-filter: saturate(180%) blur(100px);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 999 !important;
}

.col-2 {
  flex: 1;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-cols {
  display: flex;
}
.menu-link:not(:last-of-type) {
  position: relative;
  margin-left: 20px;
  width: max-content;
  margin-top: 15px;
  z-index: 99;
}
.center-menulink a
{
  color: #5c5c77 !important;
  font-weight: 300;
  font-size: 14px !important;
}
.center-menulink {
  display: flex;
  gap: 10px;
  align-items: center;
}
#log-in {
  width: 15px;
}
#volume-off {
  width: 15px;
}
#volume-on {
  display: none;
  width: 15px;
}
#eye {
  width: 15px;
}
#eye-off {
  display: none;
  width: 15px;
}
#mute-video {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #9ca1ed;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.75));

  z-index: 9999;
  cursor: pointer;
}
#hide {
  position: absolute;
  left: 60px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-image: url(blob2.svg);
  background-size: cover;
  background-position: center center;
  z-index: 9999;
}
a {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-link a {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.menu-link:nth-of-type(7)
{
  margin-left: 20px;
  margin-top: 20px;
}
.menu-link a:hover {
  color: #f0ff9e;
}
*:focus {
  outline: none;
}
#limelight {
  max-width: 150px;
}
.limelight {
  max-width: 170px;
  width: 30%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
header .twinkle {
  width: 15px;
}
.twinkle {
  transition: transform 1s ease;
}
.twinkle.rotate {
  transform: rotate(180deg);
}
@font-face {
  font-family: "Objectivity";
  src: url(Objectivity-Regular.otf);
}

.middle-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#horror
{
  width: 35px;
}
.category-h1 {
  font-size: 20px;
  font-weight: 800;
}
.icon-text
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.icon-text img, .icon-text h1 {
  mix-blend-mode: luminosity;
  color: rgba(255, 255, 255, 0.75); /* Text color */
  filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.75)); /* Optional shadow */
}

.testing img {
  transition: transform 0.5s ease;
}
.testing:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.button {
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  height: 45px;
  min-height: 45px;
  padding: 10px 16px;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s ease;
  z-index: 99;
}
.start:hover {
  filter: brightness(1.15);
}
button:not(.start):hover {
  filter: brightness(0.85);
}

.start img
{
  transform: translateX(0px);
  transition: transform 0.25s ease; /* Ensure transition is applied */
}

.start:hover img
{
  transform: translateX(3px);
  transition: transform 0.25s ease; /* Ensure transition is applied */
}

.buttons a:nth-child(1) .button:hover
{
  background-color: rgba(255, 255, 255, 0.82);
}
.rating
{
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  top: 10px;
  right: 10px;
}
.rating-card {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3px 6px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.rating-number {
  font-size: 10px;
  font-weight: bold;
}

.star-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.star
{
  position: absolute;
  top: 10px;
  left: 10px;
}
.rating img
{
  width: 25px;
}
.star img
{
  width: 30px;
}
.start
{
  background-color: #f0ff9e !important;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  transform: translateX(0); /* Default state */
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  background-image: radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  cursor: pointer;
  transform: translateX(0); /* Default state */
  transition: transform 0.25s ease; /* Ensure transition is applied */
  z-index: 99;
  height: 45px;
  min-height: 45px;
  width: 100%;
}
.button2:hover {
  filter: brightness(1.15);
  transition: filter 0.3s ease;
}
.button3:hover {
  filter: brightness(1.15);
  transition: filter 0.3s ease;
}
.button:first-of-type {
  margin-right: 5px;
}
.category {
  background-image: url(yellow.png);
  background-size: cover;
  height: 350px;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}
.desktop-only {
  display: inline;
  font-family: "Subjectivity", sans-serif;
  color: #9ca1ed;
}
.title-span
{
  display: inline;
  font-family: "Subjectivity", sans-serif;
  color: #9ca1ed;
}

@media (max-width: 500px) {
  .desktop-only {
    display: none;
  }
  .paragraph-venues-2
  {
    display: none;
  }
  .map-container
  {
    height: 400px !important;
  }
}
@media(max-width: 550px)
{
  .buttons
  {
    transform: scale(0.9);
    transform-origin: left center;
  }
}

.booking-location
{
  margin-top: 30px;
  position: relative;
}
.booking-stage
{
  padding: 5%;
  position: relative;
  height: 400px;
}
.input-wrapper {
  position: relative;
  padding: 8px 12px;
  background-image: linear-gradient(126.6deg, rgba(124, 130, 177, 0.12) 28.69%, rgba(17, 18, 27, 0) 100%);
  border-radius: 13px;
  display: flex;
  align-items: flex-end;
  transition: background-color 0.15s ease-out;
  margin-bottom: 10px;
  cursor: text;
}
.input-wrapper::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("blob2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
  opacity: 0.2;
  z-index: -1;
}
svg
{
  z-index: 99999;
}
.input-wrapper .icon.password:hover {
  filter: brightness(1.3);
  transition: filter 0.5s ease;
}
.mySwiper .swiper-wrapper {
  box-sizing: border-box;
  padding: 10px 0 15px 0px;
  width: calc(100% - 20px);
  height: auto;
}
.ComingSoon .swiper-wrapper {
  box-sizing: border-box;
  padding: 10px 0 15px 0px;
  width: calc(100% - 20px);
  height: auto;
}
.yoo .swiper-wrapper {
  box-sizing: border-box;
  padding: 10px 0 15px 0px;
  width: calc(100% - 20px);
  height: auto;
}
.myUniqueSwiper .swiper-wrapper {
  box-sizing: border-box;
  padding: 10px 0 15px 0px;
  width: calc(100% - 20px);
  height: auto;
}

.swiper-scrollbar {
  background: rgba(92, 92, 119, 0.25);
}

.swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.75);
}

.swiper-container-horizontal > .swiper-scrollbar {
  border-radius: 2px;
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* Fade in */
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-image: linear-gradient(90deg, #f0ff9e, #000); /* Start with the desired gradient */
    background-size: 200% 100%; /* Double the width for movement effect */
    background-position: -100% 0; /* Start from the left (off-screen) */
    opacity: 0; /* Initially hidden */
    transition: opacity 300ms, transform 300ms, background-position 300ms; /* Add background-position to transition */
}

a:hover::after,
a:focus::after {
    opacity: 1; /* Fade in */
    transform: translate3d(0, 0.1em, 0); /* Slight upward movement */
    background-position: 0 0; /* Move to the right on hover */
}

.input-wrapper:hover {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: 0px;
}

.input-wrapper input:user-valid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-check.svg");
  background-size: contain;
}

/* when you exit focus within the input-wrapper the @ sign disapears */
.input-wrapper input:focus-within:user-valid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-check.svg");
  background-size: contain;
}

.input-wrapper input:not(:placeholder-shown):user-invalid ~ span::before
{
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-x.svg");
  background-size: contain;
}
.icon
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
}
.input-wrapper input:focus-within:invalid ~ span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("circle-x.svg");
  background-size: contain;
}

.input-wrapper span {
  opacity: 1;
  position: absolute;
  top: 8px;
  right: 8px;
}


.input-wrapper span
{
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper:focus-within {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 0px;
  z-index: 10;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  color: rgba(124, 130, 177, 0.8);
  font-size: 13px;
  transition: 0.2s ease-out;
  pointer-events: none;
}
.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 8px;
  transform: translateY(0);
  font-size: 12px;
  color: rgb(124, 130, 177);
}

.input {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 20px 0 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}
.booking-stage h1
{
  margin-bottom: 20px;
}
.radio-group {
  margin: 20px 0; /* Adds vertical spacing above and below the radio group */
}

.radio-group input[type="radio"]
{
  display: none; /* Hide the default radio button */
}

.radio-group label {
  display: flex; /* Use flexbox for alignment */
  color: #7c82b1cc;
  align-items: center; /* Center items vertically */
  margin-bottom: 10px; /* Space between each radio button */
  font-size: 14px; /* Font size for the labels */
  cursor: pointer; /* Changes cursor to pointer on hover */
  position: relative; /* Position for custom radio button */
  padding-left: 30px; /* Space for custom radio button */
}

.radio-group label::before {
  content: ''; /* Create a custom radio button */
  position: absolute; /* Position it absolutely */
  left: 0; /* Align to the left */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  width: 20px; /* Width of the custom radio button */
  height: 20px; /* Height of the custom radio button */
  border: 2px solid #7c82b1cc; /* Border color */
  border-radius: 20px; /* Make it circular */
  background-color: #fff; /* Background color */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.radio-group input[type="radio"]:checked + label::before {
  background-color: #7c82b1cc; /* Change background color when checked */
}



.marquee-container
{
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow-x: hidden;
  cursor: default;
  z-index: 999 !important;
}

.marquee-container::after
{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ffac6e, #ff526f, #8550ff, #5661ff, #52d8fc, #6aff74);
  filter: blur(50px);
  mix-blend-mode:overlay;
}
.content-wrapper-scrolling {
  padding-inline: 8px;
  min-width: fit-content;
  display: flex;
  column-gap: 20px;
  align-items: center;
  animation: scroll 15s linear infinite;
}
.p-marquee:hover {
  color:rgba(255, 255, 255, 0.7) !important;
  transition: color 0.5s ease;
}
.marquee-container:hover .content-wrapper-scrolling {
  animation-play-state: paused !important;
}

.p-marquee {
  font-size: 40px;
  white-space: nowrap;
  transition: color 0.5s ease;
  font-family: "Subjectivity", sans-serif;
  color: grey;
}
.content-wrapper-scrolling p {
  font-weight: 800;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.twinkle
{
  width: 30px;
}
.max-w-2xl h1::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("straight_spotlight.svg");
  background-position: left left;
  background-size: cover;
  filter: blur(30px);
}


picture
{
  z-index: 999999;
  vertical-align: middle;
}
.search-contain {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  position: relative; /* Required to position the icon relative to the input */
}

.search-contain:hover > img {
  transform: rotate(-10deg) scale(1.1);
  transition: all 0.3s ease; /* Corrected transition duration */
}

.search-contain img {
  position: absolute; /* Position the icon inside the input */
  left: 25px;
  width: 18px; /* Set the width of the icon */
  transition: all 0.3s ease; /* Corrected transition duration */
}

.search-contain #search-nav
{
  position: relative;
  font-size: 13px;
  color: white;
  background-color: rgba(124, 130, 177, 0.15); /* Converted #7c82b11f */
  border: none;
  margin: 0 auto;
  width: calc(100% - 30px);
  border-radius: 8px;
  height: 35px;
  text-align: center;
  transition: box-shadow 0.15s linear;
}

.search-contain #search-nav::placeholder {
  color: #ffffffad;
  opacity: 0.7;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip
{
  background: rgba(10, 10, 21, 0.95);
  backdrop-filter: blur(20px);
  padding: 5px;
}
.popup-content {
    font-family: Arial, sans-serif;
}
img
{
    width: 15px;
    vertical-align: middle;
}

.popup-content h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 15px;
    color: white; /* Customize the color */
}
.popup-address
{
  color: #9cc5e3 !important;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}
.popup-content p {
    margin: 5px 0;
    color: #ffffffbf; /* Customize the color */
    font-size: 14px;
}
.popup-phone, .popup-email {
  display: flex;
  justify-content: flex-start;
  line-height: 1.25;
  width: 100%;
  align-items: center;
}
.icon {
  margin-right: 8px; /* Adds some space between the icon and the text */
}

.popup-content a:hover {
    text-decoration: underline; /* Underline on hover */
}
.venues
{
  z-index: 9999999;
  padding: 20px;
}
.venues h1
{
  text-align: center;
  margin-bottom: 20px;
}

.container-venues
{
position: relative;
display: flex;
flex-direction: column;
align-items: stretch;
height: 100vh;
}
.item-0 {
  flex-basis: 25%;
display: flex;
justify-content: flex-end;
padding: 20px;
align-items: center;
flex-direction: column;
}
.book
{
display: flex;
justify-content: flex-end;
padding: 20px;
align-items: center;
flex-direction: column;
}
.join-venues-text
{
  background-color: red;
}
.item-0 h1
{
  margin-bottom: 20px;
}
.item-0 h1::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("straight_spotlight.svg");
  background-position: left left;
  background-size: cover;
  filter: blur(30px);
}
.item-1 {
flex-basis: 90%;
padding: 20px clamp(1.25rem, 0.2668rem + 4.5732vw, 3.125rem);
}
.map {
width: 100%;
height: 100%;
border-radius: 20px;
border: 3px solid #1F1F3B;

z-index: 999999999;
}
.map-container
{
height: 100%;

}

.swiper-scrollbar.swiper-scrollbar-horizontal
{
  border-radius: 2px;
  height: 5px;
  width: 300px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-slide:hover
{
  transform: scale(1.05);
  transition-delay: 2s;
  transition: transform 0.2s ease;
}
.swiper-slide:hover .btn {
  bottom: 20px;
  opacity: 1;
  transform: translateX(-50%) scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.myUniqueSwiper {
  position: relative;
  width: 100%;
  max-width: 700px;
}
.myUniqueSwiper .swiper-slide
{
  position: relative;
  transition: filter 0.2s ease;
  background: url(sandy.png) center center / cover no-repeat;
  aspect-ratio: 1;
  display: flex;
  box-sizing: border-box;

  border-radius: 8px;
}
.padding
{
  padding: clamp(0.625rem, -0.3582rem + 4.5732vw, 2.5rem);
  padding-top: 0 !important;
}

.myUniqueSwiperWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

/* Swiper Slides */
.myUniqueSwiperSlide {
  width: calc(100% - 20px);
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  max-width: 1000px;
}



.myUniqueNameHeading {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.myUniqueRole {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  white-space: nowrap;
}
.myUniqueSwiper .swiper-slide::after
{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse 150% 100% at top right, transparent 20%, #1F1F3B 100%);
}
.name
{
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 999;
}

/* Swiper Pagination */
.myUniqueSwiperPagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
/* Select styles */
.select-wrapper {
  position: relative;
  width: 200px;
}

.select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  background-color: black;
  border: none;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.2s ease;
  color: white;
}


.select-trigger:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(156, 161, 237);
}

.select-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  border-radius: 4px;
  margin-top: 8px;
  color: white;
  overflow: hidden;
  z-index: 10;
  display: none;
}

.select-content.open {
  display: block;
}

.select-item {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.select-item.selected {
  color: #f0ff9e;
}

/* Chevron icon */
.chevron {
  width: 16px;
  height: 16px;
  fill: currentColor;
  transition: transform 0.2s ease;
}

.select-trigger[aria-expanded="true"] .chevron {
  transform: rotate(180deg);
}