body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("magicpattern-starry-night-1727970940950.png") no-repeat center center/cover;
  mix-blend-mode: screen;
  animation: color 10s infinite;
}

@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  10% {
    filter: hue-rotate(45deg);
  }
  20% {
    filter: hue-rotate(90deg);
  }
  30% {
    filter: hue-rotate(135deg);
  }
  40% {
    filter: hue-rotate(180deg);
  }
  50% {
    filter: hue-rotate(225deg);
  }
  60% {
    filter: hue-rotate(180deg);
  }
  70% {
    filter: hue-rotate(135deg);
  }
  80% {
    filter: hue-rotate(90deg);
  }
  90% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

:root {
  --darker: #5c5c77;
  --blue: #9ca1ed;
}
::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background: rgba(10, 10, 21, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 0px 3px 0.05px #ffffff33 inset;
  padding: clamp(1.5625rem, 1.2946rem + 1.4286vw, 2.1875rem);
  width: 80%;
  max-width: 450px;
  height: 450px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  z-index: 99;
}

::placeholder {
  padding-left: 10px;
  color: var(--darker);
}

input:hover,
textarea:hover,
input[type="submit"]:hover,
.span:hover {
  filter: brightness(1.3);
  transition: filter 0.2s ease;
}

*:focus {
  outline: none;
}

input:focus-within {
  border: 1.5px solid var(--blue);
}
.already-have {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 50% 50%, #14142b 10%, #0a0a15 70%);
}
.h1 {
  letter-spacing: 0.05rem;
  background: linear-gradient(to right, #ffac6e, #ff526f, #8550ff, #5661ff, #52d8fc, #6aff74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-clip: text;
  mix-blend-mode: screen;
  font-size: clamp(1.4375rem, 1.1696rem + 1.4286vw, 2.0625rem);
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.span {
  font-size: 14px;
  margin-left: 5px;
  color: #9ca1ed;
  cursor: pointer;
  transition: filter 0.2s ease;
}
.button-submit {
  margin: 20px 0 10px 0;
  background-image: url(buttonbackground.svg);
  background-size: cover;
  background-position: center center;
  border: none;
  font-size: 18px;
  font-weight: 900;
  border-radius: 13px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-submit:hover {
  filter: brightness(1.1);
  transition: all 0.2s ease;
}

.p {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  font-size: clamp(0.75rem, 0.7232rem + 0.1429vw, 0.8125rem);
  margin: 20px 0;
}
.p-already {
  font-size: 14px;
  color: var(--darker);
  margin: 5px 0 15px 0;
}
.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  color: var(--darker);
  background-color: #0a0a15;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 15px;
  padding: 0 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
  font-size: 12px;
  color: white;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 20px;
  background-color: transparent;
  border: 1.5px solid var(--darker);
  border-radius: 13px;
  box-sizing: border-box;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
*:focus {
  outline: none;
}
.did-floating-input:not(:focus) ~ .did-floating-label {
  top: 17px;
}
.did-floating-input:focus ~ .did-floating-label,
.did-floating-select:focus ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}
.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -8px;
  font-size: 13px;
}