*:focus {
    outline: none !important;
}
input:focus {
    outline: none !important;
  }
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(19, 19, 19);
}
.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

.input-wrapper {
    position: relative;
    width: 200px;
    padding: 8px 12px;
    background-color: #7c82b11f;
    border-radius: 13px;
    display: flex;
    align-items: center;
    border: 1px solid #969bc1;
    transition: background-color 0.15s ease-out;
    margin-bottom: 10px;
    cursor: pointer;
}
.input-wrapper-file
{
    position: relative;
    width: 200px;
    padding: 8px 12px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s ease-out;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    cursor: pointer;
}

.label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: #7c82b0cc;
    font-size: 13px;
    transition: 0.2s ease-out;
    pointer-events: none;
    white-space: nowrap;
    width: 100%;
}
input[type=file] {
    display: block;
    color: red;
    background-color: red !important;
    width: 200px;
    height: 100%;
    font-style: oblique;
  }
.input {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 20px 0 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}