*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(225, 255, 255, 0);
}
::selection {
  background-color: rgba(255, 255, 255, 0.15);
}

:root {
  --darker: #5c5c77;
}

::placeholder {
  color: white;
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px;
  height: 1px;
}
.swiper-scrollbar-drag {
  background: none;
}
body,
html {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  -webkit-text-size-adjust: 100%; /* 2 */

  background-color: black;
}
.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 50% 50%, #14142b 10%, #0a0a15 70%);
}
@font-face {
  font-family: "Subjectivity";
  src: url("Subjectivity-Bold.otf");
}

.swiper {
  width: 100%;
}
.hero-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content-section .hero-swiper .swiper-slide {
  background-color: rgba(0, 0, 0, 0.45);
}
.card-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.45);
}
.yoo .swiper-slide {
  aspect-ratio: 9/6;
  max-height: 145px;
}
.swiper-slide:not(.hero-swiper .swiper-slide):active {
  border: 2px solid #9ca1ed;
}
.yoo .swiper-slide:hover {
  filter: brightness(1.1);
}
@media screen and (max-width: 800px) {
  .content-section video {
    display: none !important;
  }
  #mute-video {
    display: none !important;
  }
  #hide {
    display: none !important;
  }
}

.button:active {
  filter: brightness(1.3);
}

/*

      .hero-swiper .swiper-slide::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: blur(150px);
        opacity: 0.8;
        animation: swipeUp 2s ease-in forwards;
      }
        */

.hero-swiper .swiper-slide {
  box-shadow: none !important;
}

.card-swiper .swiper-slide {
  box-shadow: none !important;
}
.swiper-slide {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.3) inset;
  transition: filter 0.2s ease;
  aspect-ratio: 2/3;
  display: flex;
  align-items: flex-end;
}
#icon {
  position: absolute;
  width: 100px;
}
.content-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-swiper .swiper-slide {
  padding: 0 20px;
}
.card-swiper .swiper-slide {
  padding: 0 20px;
}
.content-reasons .swiper-slide {
  padding: 20px;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dif {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
  filter: url(#grain);
  -webkit-filter: url(#grain);
}
.dif2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 65%;
  -webkit-mask-image: linear-gradient(to left, black, transparent);
  mask-image: linear-gradient(to left, black, transparent);
  filter: url(#grain);
  -webkit-filter: url(#grain);
}
.grid {
  position: relative;
}
.grid > *:last-child {
  background-color: black;
  z-index: 999;
}
.container {
  position: relative;
  aspect-ratio: 16/11;
  background-image: url("gradient.webp");
  background-size: cover;
  background-position: center center;
  max-height: 700px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  z-index: 99;
}
/*
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  z-index: 100;
  pointer-events: none;
}
  */

.content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: clamp(28.125rem, 21.875rem + 25vw, 37.5rem);
}
.wave {
  position: absolute;
  z-index: -99;
}
.title-join {
  background: #f6f8f9;
  background: radial-gradient(circle farthest-corner at center center, #f6f8f9 0%, #e5ebee 30%, #d7dee3 60%, #f5f7f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: clamp(1.125rem, 0.5893rem + 2.8571vw, 2.375rem);
  clip-path: inset(0 0 0% 0);
  text-wrap: nowrap;
  z-index: 100;
}
.title {
  clip-path: inset(0 0 0% 0);
  text-wrap: nowrap;
  font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
  margin-bottom: 10px;
  color: white;
  z-index: 100;
}
.metadata {
  z-index: 99;
  color: var(--darker);
  font-size: 13px;
  gap: 5px;
  display: inline-flex;
  margin-bottom: 10px;
}
.content-reasons .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.paragraph {
  z-index: 99;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 550px;
  /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paragraph-category {
  z-index: 99;
  font-size: 12px;
}
.paragraph-join {
  z-index: 99;
  color: rgba(255, 255, 255, 0.75);
  font-size: clamp(0.625rem, 0.5rem + 0.5vw, 0.8125rem);
  margin-top: 7px;
}
.button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.buttons {
  display: inline-flex;
  gap: 5px;
}
.content-trending {
  margin-top: 20px;
}
.content-trending,
.content-suggested,
.content-awards,
.content-video,
.content-reasons,
.content-releases {
  padding: 0px 20px;
  position: relative;
}
.content-oops {
  height: 50px;
  margin: 40px 0px 40px;
  padding: 10px 15px;
  background: rgba(10, 10, 21, 0.95);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#poporn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  right: 40px;
  width: clamp(3.125rem, -12.5rem + 50vw, 18.75rem);
}
@media screen and (max-width: 500px) {
  #poporn {
    display: none;
  }
}

.el {
  position: absolute; /* Use fixed positioning for it to stay in place while scrolling */
  right: 0; /* Align to the right */
  width: 100%; /* Full viewport width */
  height: 100%; /* Full viewport height */
  background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2V5YW0wOHNzcTZudG0wNGl2N3d2N2RudXRtaW9qaW4zYnB4MWxociZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uWzS6ZLs0AaVOJlgRd/giphy.gif");
  background-size: contain; /* Contain the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  mask-size: cover;
  mask-image: url("hello.svg"); /* Use the SVG mask */
  mask-repeat: no-repeat;
  mix-blend-mode: color;
  mask-position: center; /* Ensure it is above other content, if necessary */
}
#bannertext {
  position: absolute;
  font-size: 20px;
  color: black;
  padding: 0 15px;
  z-index: 99;
  white-space: nowrap;
}
#trendingtitle {
  color: #9ca1ed;
  mix-blend-mode: screen;
  font-family: "Subjectivity";
  font-size: 17px;
}
#trendingtitle2 {
  position: relative;
  background: linear-gradient(to right, #ffac6e, #ff526f, #8550ff, #5661ff, #52d8fc, #6aff74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-size: clamp(0.6875rem, 0.4464rem + 1.2857vw, 1.25rem);
}
@media screen and (max-width: 350px) {
  body {
    overflow-x: scroll;
  }
}
#play {
  width: 15px;
  vertical-align: middle;
  margin-top: 3px;
}
#hour {
  width: 12px;
  height: 12px;
  vertical-align: middle;

  margin-top: 3px;
}
#star {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-top: 3px;
}
.metadata-group {
  display: flex;
  gap: 15px;
}
.movie-title {
  position: relative;
  margin-bottom: -15px;
  font-size: 10px;
  font-weight: 700;
  z-index: 999 !important;
}
.swiper-scrollbar-drag {
  background-color: #fff;
}
.paragraph-intro {
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.content-bumgjo {
  padding: 6px 20px;
  filter: saturate(3);
  filter: contrast(100);
  position: relative;
}
.icon-contain {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#twinkle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 65px;
  z-index: 999;
}
#awarded {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 8px;
  padding: 5px 20px;
  color: #fbfbfb;
}
#awards {
  width: 100%;
  border-radius: 8px;
}
#golden {
  margin-left: 10px;
  width: 25px;
}
#top-rated {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.75);
}
#twinkle1 {
  position: absolute;
  left: 0px;
  width: 15px;
}
#background {
  position: absolute;
  z-index: -9;
}
#twinkle2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 99;
}
#twinkle-text {
  z-index: 99;
  width: 15px;
}
#twinkle3 {
  position: absolute;
  right: 0px;
  width: 15px;
}
#top-rated-video {
  border-radius: 8px;
}
.contain-text-icon {
  align-items: center;
  display: flex;
  gap: 7px;
}
#best-rated-h1 {
  position: absolute;
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}
.top-movie-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(theshawnredemption.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-mask-image: linear-gradient(to right, transparent 90%, black 80%);
  mask-image: linear-gradient(to top, transparent 90%, black 80%);
  border-radius: 8px;
}
#crown {
  width: 15px;
  height: 15px;
  margin-top: -4px;
  vertical-align: middle;
}
.category-h1:nth-child(1) {
  filter: brightness(1.2);
  font-family: "Subjectivity";
  font-size: clamp(1.125rem, 0.625rem + 1vw, 1.25rem);
  z-index: 999;
}
.testing {
  border-radius: 8px;
  background-color: rgba(10, 10, 21, 1);
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  padding: 5px 10px;
}
.h1-content {
  height: 60px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  gap: 5px;
  box-sizing: border-box;
}
.h1-content2 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  gap: 5px;
  box-sizing: border-box;
}
.h1-content2 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  box-sizing: border-box;
}
hr {
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #9ca1ed;
}
.h1-content picture img {
  display: inline-block;
  vertical-align: middle;
}
#gifs {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#mask {
  object-fit: cover;
  background-color: #000000b0;
  width: 100%;
  height: 100%;
}
#mask2 {
  object-fit: cover;
  background-color: #00000019;
  width: 100%;
  height: 100%;
}
.mask-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container-hero {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-container-category {
  position: absolute;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hamburger-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000 !important;
}
.hamburger-left {
  left: 20px;
}
.hamburger-right {
  right: 20px !important;
}
/* ----------- navigation menu ----------- */
.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: rgba(10, 10, 21, 0.95);
  box-shadow: 0px 0px 3px 0.05px rgba(255, 255, 255, 0.2) inset;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 999 !important;
}
.col-2 {
  flex: 1;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-cols {
  display: flex;
}
.menu-link:not(:last-of-type) {
  position: relative;
  margin-left: 20px;
  width: max-content;
  margin-top: 15px;
  z-index: 99;
}
.center-menulink {
  display: flex;
  gap: 5px;
  align-items: center;
}
#log-in {
  width: 12px;
}
#volume-off {
  width: 15px;
}
#volume-on {
  display: none;
  width: 15px;
}
#eye {
  width: 15px;
}
#eye-off {
  display: none;
  width: 15px;
}
#mute-video {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-image: url(blob2.svg);
  background-size: cover;
  background-position: center center;
  z-index: 9999;
  cursor: pointer;
}
#hide {
  position: absolute;
  left: 60px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-image: url(blob2.svg);
  background-size: cover;
  background-position: center center;
  z-index: 9999;
}
a {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-link a {
  font-size: 17px;
  color: white;
  cursor: pointer;
}
.menu-link:nth-of-type(7) {
  margin-left: 20px;
  margin-top: 20px;
}
.menu-link:nth-of-type(7) a {
  color: var(--darker);
  font-weight: 300;
  font-size: 12px;
}
.menu-link a:hover {
  color: #f0ff9e;
}
*:focus {
  outline: none;
}
input {
  color: white;
  background-color: transparent;
  border: none;
  height: 30px;
  text-align: center;
}
#limelight {
  max-width: 150px;
}
.limelight {
  max-width: 170px;
  width: 30%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.twinkle {
  width: 15px;
}
.twinkle {
  transition: transform 1s ease;
}
.twinkle.rotate {
  transform: rotate(180deg);
}
@font-face {
  font-family: "Objectivity";
  src: url(Objectivity-Regular.otf);
}

.middle-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.button {
  position: relative;
  display: inline-flex;
  gap: 5px;
  z-index: 99;
  font-size: 13px;
  border-radius: 30px;
  background-color: white;
  border: none;
  color: black;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
}
#horror {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 15px;
  width: clamp(2.5rem, 1.25rem + 2.5vw, 2.8125rem);
  mix-blend-mode: luminosity;
  filter: invert(1);
  z-index: 999;
}
.button2 {
  position: relative;
  display: inline-flex;
  gap: 5px;
  z-index: 99;
  font-size: 13px;
  border-radius: 30px;
  background-image: url(buttonbackground.svg);
  background-size: cover;
  background-position: center center;
  border: none;
  color: black;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.swiper-slide:hover {
  filter: brightness(1.1);
  transition: filter 0.3s ease;
}

.button2:hover {
  filter: brightness(1.15);
  transition: filter 0.3s ease;
}
.button:first-of-type {
  margin-right: 5px;
  background-color: white;
}
.category {
  background-image: url(yellow.png);
  background-size: cover;
  height: 350px;
}
.button:hover {
  transform: scale(1.05);
  text-shadow: 0px 0px 20px rgba(182, 255, 158, 0.5);
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-image: url(blob2.svg);
  opacity: 0.5;
  z-index: -1;
}
