
@import "resets.css";


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(225, 255, 255, 0);
  font-family: "Open Sans", serif;
  font-synthesis: none; /* for safari so its not bold */
}


h1, h2, h3, h4, h5, h6, span
{
  margin: 0;
  padding: 0;
}
::selection {
  background-color: rgba(255, 255, 255, 0.15);
}

:root {
  --darker: #5c5c77;
  --blue: #14142b;
  --margin: 15px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 344px;
  overflow-x: scroll;
  background-color: #464343;
}

.swiper {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 20px;
  aspect-ratio: 16/11;
  max-height: 700px;
  padding: clamp(0.3125rem, -0.8346rem + 5.3354vw, 2.5rem);
  z-index: 99;
}

.hero-swiper {
  height: 100%;
  border-radius: 20px;
}

.hero-swiper .swiper-slide {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero {
  background-color: #9ca1ed;
  padding: 20px;
}
.hero a
{
  z-index: 999;
}

.hero__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.hero:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: radial-gradient(ellipse 100% 100% at right center, transparent 0%, #9ca1ed);
}

.title {
  clip-path: inset(0);
  font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
  color: #ffffff;
  text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000, 2px 3px 1px #000000, 4px 3px 1px #000000;
  margin-bottom: clamp(0.9375rem, 0.6098rem + 1.5244vw, 1.5625rem);
  padding-right: 10px; /* no clip with text shadow */
  font-family: "Subjectivity";
  white-space: nowrap;
  z-index: 100;
}
.desktop-only {
  display: inline;
  font-family: "Subjectivity";
  color: #f0ff9e;
}

@media (max-width: 500px) {
  .desktop-only {
    display: none;
  }
}

@media (max-width: 500px) {
  .title {
    white-space: normal;
  }
}

.paragraph-join {
  z-index: 99;
  color: rgba(0, 0, 0, 0.75);
  font-size: clamp(0.75rem, 0.6189rem + 0.6098vw, 1rem);
  margin-bottom: clamp(0.9375rem, 0.6098rem + 1.5244vw, 1.5625rem);
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.button-submit 
{
  background-color: var(--button-background);
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  font-family: inherit;
  font-size: clamp(0.8125rem, 0.7797rem + 0.1524vw, 0.875rem);
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  background-image: radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease-out;
  transform-origin: center center;
  aspect-ratio: 10/3;
  padding: 10px 16px;
  z-index: 999999999999999 !important;
}

.button-submit img {
  transition: transform 0.3s ease;
  pointer-events: none;
}

.button-submit:hover {
  transform: scale(1.015);
}

.button-submit:hover img {
  transform: translateX(2px);
}

.button-submit:hover {
  filter: brightness(var(--button-hover-brightness));
  transition: all 0.2s ease;
}

h1
{
  display: inline;
  margin: 0;
  padding: 0;
}